{% extends '@OswisOrgOswisCore/e-mail/pages/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Shrnutí přihlášky') }}{% endblock %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/ReservationConfirmed"/>
        <meta itemprop="modifiedTime" content="{{ participant.updatedAt|date('c') }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ participant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ participant.id }}"/>
        <meta itemprop="numSeats" content="1"/>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if participant.contact.organization|default %}
                        Vaše organizace {{ participant.contact.name }} byl{{ a }} úspěšně přihlášen{{ a }}
                        na&nbsp;akci <b>{{ participant.event.name }}</b>.
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }} úspěšně přihlášen{{ a }} na&nbsp;akci <b>{{ participant.event.name }}</b>.
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        {% block message_payment_outer %}
            {% if participant.depositValue > 0 or participant.price > 0 %}
                <p>
                    Nyní {{ f ? 'Vás' : 'Tě' }} poprosíme o&nbsp;zaplacení zálohy ve&nbsp;výši <b>{{ participant.depositValue }},-&nbsp;Kč</b>,
                    a&nbsp;to {% block message_payment_deposit_date %}{% endblock message_payment_deposit_date %}
                    {% if participant.event.getBankAccount(true)|default %}
                        na&nbsp;účet <b>{{ participant.event.getBankAccount(true).getFull() }}</b>
                        s&nbsp;variabilním symbolem <b>{{ participant.variableSymbol }}</b>.
                        Samozřejmě počítáme s&nbsp;tím, že&nbsp;převod může pár dní trvat. :)
                    {% else %}
                        dle údajů uvedených na webových stránkách.
                    {% endif %}
                </p>
                {% if participant.price > 0 %}
                    <p>
                        <b>Doplatek</b> ve&nbsp;výši <b>{{ participant.priceRest }},-&nbsp;Kč</b> zašl{{ f ? 'ete' : 'i' }}, prosím,
                        úplně stejným způsobem{% block message_payment_rest_date %}{% endblock message_payment_rest_date %}.
                    </p>
                {% endif %}

                {% if participant.depositValue > 0 and participant.price > 0 %}
                    <p>
                        Zálohu i doplatek můžeš zaplatit i v&nbsp;jedné společné platbě, potom se jedná o&nbsp;částku
                        <span itemprop="totalPrice">{{ participant.price }}</span>,-&nbsp;<span itemprop="priceCurrency" content="CZK">Kč</span>.
                    </p>
                {% endif %}
            {% endif %}
        {% endblock message_payment_outer %}

        {% if appUser|default %}
            <p>
                Uživatelské jméno u uživatelského účtu pro přístup do aplikace
                <a href="{{ absolute_url(path('oswis_org_oswis_core_portal')) }}" target="_blank">{{ oswis.app.name }}</a> je
                <strong>{{ appUser.username|default ? appUser.username|default : appUser.email|default }}</strong>
                {%- if appUser.email|default and appUser.email|default != appUser.username|default %}
                a&nbsp;hlavní e-mail je <strong>{{ appUser.email|default }}</strong>
                {%- endif -%}.
            </p>
            <p>
                {% if appUser.plainPassword|default %}
                    Bylo nastaveno nové, náhodně vygenerované, heslo: <span class="token-box">{{ appUser.plainPassword }}</span>
                {% elseif appUser.password|default %}
                    Heslo bylo nastaveno uživatelem při registraci nebo aktivaci uživatele.
                {% else %}
                    Heslo si nastaví{{ f ? 'te' : 'š' }} při aktivaci účtu.
                {% endif %}
            </p>
            <p>Pokud heslo zapomene{{ f ? 'te' : 'š' }}, může{{ f ? 'te' : 'š' }} jej obnovit pomocí tlačítka na přihlašovací stránce aplikace.</p>
        {% endif %}

        {% include '@OswisOrgOswisCalendar/other/summary/participant-summary.html.twig' %}
        {% include '@OswisOrgOswisCalendar/other/qr-payment/event-participant-qr-payment.html.twig' %} {# TODO #}
        <div itemprop="reservationFor" itemscope itemtype="http://schema.org/Event">
            {% include '@OswisOrgOswisCalendar/other/summary/event-summary.html.twig' with {'event': participant.event} %}
        </div>
        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_core_homepage_action')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_core_homepage_action')) }}"/>

        {% block message_footer %}
            <p>Pokud zpráva přišla opakovaně, přihláška byla pravděpodobně aktualizována uživatelem nebo správcem.</p>
            <p>Před akcí očekávej ještě další informační e-mail s upřesněním podrobností.</p>
        {% endblock message_footer %}
    </div>
{% endblock %}

