{% extends '@OswisOrgOswisCalendar/e-mail/pages/participant.html.twig' %}

{% block html_title %}{{ email.subject|default('Ověření přihlášky') }}{% endblock html_title %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/Pending"/>
        <meta itemprop="modifiedTime" content="{{ participant.updatedAt|date('c') }}"/>
        <meta itemprop="bookingTime" content="{{ participant.createdAt|date("c") }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ participant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ participant.id }}"/>
        <meta itemprop="reservationNumber" content="{{ participant.id }}"/>
        <meta itemprop="numSeats" content="1"/>
        <span itemprop="totalPrice" content="{{ participant.price }}"></span>
        <span itemprop="priceCurrency" content="CZK"></span>
        <span itemprop="underName" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name" content="{{ participant.contact.name }}"></span>
            <span itemprop="email" content="{{ participant.contact.email }}"></span>
        </span>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if participant.contact.organization|default %}
                        Vaše organizace {{ participant.contact.name }} byl{{ a }}
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }}
                    {% endif %}
                    úspěšně přihlášen{{ a }} na&nbsp;akci <b>{{ participant.event.name }}</b>,
                    {% if participant.event.organizer.contact.name|default %}
                        kterou pořádá {{ participant.event.organizer.contact.name }}.
                    {% elseif participant.event.startDateTime|default %}
                        která se koná od {{ participant.event.startDateTime|date("j. n. Y") }}.
                    {%- else -%}
                        .
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        {% if tokenUrl|default %}
            <h3>Ověření přihlášky</h3>
            <p>
                <b>Ještě je nutné přihlášku dokončit kliknutím na následující odkaz</b> a potvrdit tím,
                že zadaná adresa patří {{ f ? 'Vám' : 'Tobě' }} a není v ní žádný překlep:
                <a href="{{ tokenUrl }}" class="token-box" title="Odkaz pro aktivaci účtu" target="_blank">{{ tokenUrl }}</a>
                {% if participantToken.validHours|default %}
                    <br><small>Odkaz je platný {{ participantToken.validHours }} hodin od vygenerování.</small>
                {% endif %}
            </p>

            <p>
                <strong>
                    <a href="{{ tokenUrl }}" itemprop="confirmReservationUrl" title="Potvrzení přihlášky" target="_blank">
                        {{ tokenUrl }}
                    </a>
                </strong>
                <br>
                <small>Odkaz je platný 24 hodin od vygenerování.</small>
            </p>
        {% endif %}

        <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ConfirmAction">
            <meta itemprop="name" content="Potvrdit"/>
            <link itemprop="url" href="{{ tokenUrl }}"/>
            <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                <link itemprop="url" href="{{ tokenUrl }}">
            </div>
        </div>

        <div itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
            <meta itemprop="name" content="Potvrdit"/>
            <link itemprop="url" href="{{ tokenUrl }}"/>
            <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                <link itemprop="url" href="{{ tokenUrl }}"/>
            </div>
        </div>

        <p>
            Potvrzením registrace také souhlasí{{ f ? 'te' : 'š' }} se zpracováním {{ f ? 'Vašich' : 'Tvých' }} osobních údajů nutných pro zorganizování této akce.
            {% if participant.event.organizer.contact.name|default %}
                Tyto údaje budou zpracovány subjektem {{ participant.event.organizer.contact.name }}
                a informace o jejich zpracování nalezne{{ f ? 'te' : 'š' }} na
                <a href="{{ absolute_url(path('oswis_org_oswis_core_gdpr_action')) }}" target="_blank">našich webových stránkách</a>.
            {% else %}
                Informace o jejich zpracování nalezne{{ f ? 'te' : 'š' }} na<a href="{{ absolute_url(path('oswis_org_oswis_core_gdpr_action')) }}" target="_blank"> webových
                stránkách</a>.
            {% endif %}
        </p>

        <p>Pro zrušení nebo změnu přihlášky nás kontaktuj{{ f ? 'te' : '' }} odpovědí na tuto zprávu.</p>

        <div itemprop="reservationFor" itemscope itemtype="http://schema.org/Event">
            <meta itemprop="name" content="{{ participant.event.name }}"/>
            <link itemprop="url" href="{{ absolute_url(path('oswis_org_oswis_calendar_web_event', {'eventSlug': participant.event.slug})) }}"/>
            <meta itemprop="startDate" content="{{ participant.event.startDate|date("c") }}"/>
            <meta itemprop="endDate" content="{{ participant.event.endDate|date("c") }}"/>
            {% if participant.event.place(true)|default %}
                <div itemprop="participant.event.place" itemscope itemtype="http://schema.org/Place">
                    {% if participant.event.place(true).name|default %}
                        <meta itemprop="name" content="{{ participant.event.place(true).name }}"/>
                    {% endif %}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        {% if participant.event.place(true).name|default %}
                            <meta itemprop="name" content="{{ participant.event.place(true).name }}"/>
                        {% endif %}
                        {% if participant.event.place(true).streetAddress|default %}
                            <meta itemprop="streetAddress" content="{{ participant.event.place(true).streetAddress }}"/>
                        {% endif %}
                        {% if participant.event.place(true).city|default %}
                            <meta itemprop="addressLocality" content="{{ participant.event.place(true).city }}"/>
                        {% endif %}
                        {% if participant.event.place(true).postalCode|default %}
                            <meta itemprop="postalCode" content="{{ participant.event.place(true).postalCode }}"/>
                        {% endif %}
                        {% if participant.event.place(true).city|default %}
                            <meta itemprop="addressRegion" content="{{ participant.event.place(true).city }}"/>
                        {% endif %}
                        {% if participant.event.place(true).url|default %}
                            <!--suppress HtmlUnknownAttribute -->
                            <meta itemprop="url" href="{{ participant.event.place(true).url }}" content="{{ participant.event.place(true).url }}"/>
                        {% endif %}
                        <meta itemprop=Country" content="CZ"/>
                    </div>
                </div>
            {% endif %}
            {% if participant.event.organizer.contact.name|default %}
                <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="{{ participant.event.organizer.contact.name }}"/>
                    <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg')) }}"/>
                    <!--<link itemprop="image" href="https://www.seznamovakup.cz/img/web/og-image.jpg"/>-->
                </div>
            {% endif %}
        </div>
        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_core_homepage_action')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_core_homepage_action')) }}"/>
    </div>
{% endblock content_inner %}
