<section class="row" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    {% if range|default %}
        <div class="col-12">
            <div class="card-deck">
                <div class="card mt-2 mb-4">
                    {% if range.rangeActive %}
                        <a href="{{ path('oswis_org_oswis_calendar_web_registration', {'eventSlug': range.event.slug|default}) }}" itemprop="url">
                            <div class="card-header p-2">
                                <h5 class="card-title mb-0 font-weight-bold font-1em">
                                    {% block range_preview_title %}
                                        <span class="d-inline d-md-none">{{ range.shortName|default('Přihláška na '~range.event.shortName|default) }}</span>
                                        <span class="d-none d-md-inline" itemprop="name">{{ range.name|default('Přihláška na akci '~range.event.name|default) }}</span>
                                        <span class="float-right align-middle text-muted"><i class="fas fa-ticket-alt"></i></span>
                                    {% endblock range_preview_title %}
                                </h5>
                            </div>
                        </a>
                    {% else %}
                        {{ block('range_preview_title') }}
                    {% endif %}
                    <div class="card-body p-3">
                        {% if range.rangeAsText %}
                            <h6 class="card-subtitle mb-2 text-muted">
                                <stron is defined and eventg>Rozmezí přihlášek:</strong> {{ range.rangeAsText|default }}</h6>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted">
                            <strong>Akce:</strong>
                            <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': range.event.slug}) }}" title="{{ range.event|default }}"
                               content="{{ range.event|default }}" itemprop="itemOffered" data-toggle="tooltip">
                                {{ range.event.shortName|default }}
                            </a>
                        </h6>
                        {% if range.event.rangeAsText|default %}
                            <h6 class="card-subtitle mb-2 text-muted"><strong>Termín akce:</strong> {{ range.event.rangeAsText|default }}</h6>
                        {% endif %}
                        {% if range.participantType|default %}
                            <h6 class="card-subtitle mb-2 text-muted"><strong>Typ přihlášky:</strong> {{ range.participantType.name|default }}</h6>
                        {% endif %}
                        {% if range.description %}
                            <div class="mt-2 mb-2" itemprop="description">{{ range.description }}</div>
                        {% endif %}
                        {% if range.note %}
                            <div class="text-muted mt-2 mb-2" itemprop="description">{{ range.note }}</div>
                        {% endif %}
                        {% if range.rangeActive %}
                            <a href="{{ path('oswis_org_oswis_calendar_web_registration',
                                {'eventSlug': range.event.slug|default, 'participantType': range.participantType.slug}) }}">
                                <div class="badge badge-success pt-1 pb-1 pl-2 pr-2 mt-1">Přihlas se nyní!</div>
                            </a>
                        {% else %}
                            <div class="badge badge-dark pt-1 pb-1 pl-2 pr-2 mt-1">Aktuálně neaktivní.</div>
                        {% endif %}
                        {#
                        {% if range.startDateTime and date(range.endDateTime).diff(date(now)).days != 0 %}
                            <div class="badge badge-warning pt-1 pb-1 pl-2 pr-2 mt-1">Zbývá {{ date(range.endDateTime|date).diff(now).days }} dní.</div>
                        {% endif %}
                        {% if range.endDateTime and date(range.startDateTime).diff(date(now)).days != 0 %}
                            <div class="badge badge-warning pt-1 pb-1 pl-2 pr-2 mt-1">Začíná za {{ date(range.startDateTime|date).diff(now).days }} dní.</div>
                        {% endif %}
                        #}

                        <span itemprop="availability" content="http://schema.org/InStock"></span>
                        <div itemprop="validFrom" content="{{ range.startDate|date("Y-m-d\\TH:i:sP")|default }}"></div>
                        <div itemprop="validThrough" content="{{ range.endDate|date("Y-m-d\\TH:i:sP")|default }}"></div>
                    </div>
                    <div class="card-footer row m-0">
                        <div class="col-6 p-0"><strong>Záloha</strong><br>{{ range.depositValue(range.participantType)|default(0) }},-&nbsp;Kč</div>
                        <div class="col-6 p-0">
                            <strong>Celkem</strong><br>
                            <span itemprop="price">{{ range.price(range.participantType)|default(0) }}</span><span itemprop="priceCurrency" content="CZK">,-&nbsp;Kč</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
