<div class="row text-justify">
    <div class="col-lg-9" itemscope itemtype="http://schema.org/Event">
        <header>
            <h2 class="text-uppercase" itemprop="name">{{ event.name }}</h2>
            <link itemprop="url" href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}"/>
        </header>
        {% include '@ZakjakubOswisCalendar/web/parts/event-nav.html.twig' %}
        {% if event.series is defined and event.batchOrYear and event.getSeqId > 0 %}
            <h3>
                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }}
                akce {{ event.series.shortName }}{{ event.batch ? event.startYear : null }}
            </h3>
        {% else %}
            {{ event.type ? event.type.shortName~', ' : null }}
            {{ event.series ? event.series.shortName : null }}
        {% endif %}
        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
        <div>
            {% if event.rangeAsText is defined and event.rangeAsText %}
                <p><strong>Termín:</strong> {{ event.rangeAsText }}<br></p>
            {% endif %}
            {% if event.subEvents|length > 0 %}
                <ul>
                    {% for subEvent in event.subEvents %}
                        <li>
                            <a href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': subEvent.slug}) }}" title="{{ subEvent.name }}">
                                <strong>{{ subEvent.shortName }}:</strong> {{ subEvent.rangeAsText }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if event.superEvent is defined and event.superEvent %}
                        <li>
                            <a href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.superEvent.slug}) }}"
                               title="{{ event.superEvent.name }}">
                                je součástí akce <strong>{{ event.superEvent.shortName }}</strong>
                                {{ event.superEvent.rangeAsText ? '('~event.superEvent.rangeAsText~')' : null }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if event.organizer is defined and event.organizer %}
                <div itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                    <strong>Pořadatel: </strong><span itemprop="name">{{ event.organizer.name|default('') }}</span>
                    <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg'))|default('') }}"/>
                </div>
            {% endif %}
            {% if event.description is defined and event.description %}
                <p itemprop="description">{{ event.description }}</p>
            {% endif %}
            {% if event.location is defined and event.location %}
                <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
                    {% if event.location.name is defined and event.location.name %}
                        <meta itemprop="name" content="{{ event.location.name }}"/>
                    {% endif %}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <p>
                            <strong>Místo: </strong>
                            {% if event.location.url %}
                                <a href="{{ event.location.url }}" title="{{ event.location.name }}">{{ event.location.name }}</a>
                            {% else %}
                                {{ event.location.name }}
                            {% endif %}
                            <br><strong>Adresa:</strong>{{ event.location.fullAddress }}
                        </p>
                        {% if event.location.name is defined and event.location.name %}
                            <meta itemprop="name" content="{{ event.location.name }}"/>
                        {% endif %}
                        {% if event.location.streetAddress is defined and event.location.streetAddress %}
                            <meta itemprop="streetAddress" content="{{ event.location.streetAddress }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressLocality" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.postalCode is defined and event.location.postalCode %}
                            <meta itemprop="postalCode" content="{{ event.location.postalCode }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressRegion" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.url is defined and event.location.url %}
                            <!--suppress HtmlUnknownAttribute -->
                            <meta itemprop="url" href="{{ event.location.url }}" content="{{ event.location.url }}"/>
                        {% endif %}
                        <meta itemprop=Country" content="CZ"/>
                    </div>
                </div>
            {% endif %}
        </div>
        {% for range in event.rangesByTypeOfType(participantType) %}
            <div class="row" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <div class="col-12">
                    <h4 itemprop="name">{{ range.name ? range.name : 'Přihláška na akci '~event.name }}</h4>
                    <span itemprop="availability" content="http://schema.org/InStock"></span>
                    <strong>Začátek přihlášek: </strong>
                    <span itemprop="validFrom" content="{{ range.startDate|date("Y-m-d\\TH:i:sP")|default('') }}">
                        {{ range.startDate|date("d. m. Y H:i")|default('neurčen') }}
                    </span><br>
                    <strong>Konec přihlášek: </strong>
                    <span itemprop="validThrough" content="{{ range.endDate|date("Y-m-d\\TH:i:sP")|default('') }}">
                        {{ range.endDate|date("d. m. Y H:i")|default('neurčen') }}
                    </span><br>
                </div>
                <div class="col-6">
                    <p>
                        <strong>Záloha:</strong>
                        <a href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}" class="badge badge-info">
                            {{ range.depositValue(participantType)|default(0) }},- Kč
                        </a><br><!-- <small>(splatná a vratná do 31. 7.)</small> -->
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        <strong>Celkem:</strong>
                        <a itemprop="url" href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}"
                           content="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}" class="badge badge-info">
                            <span itemprop="price">{{ range.priceValue(participantType) }}</span><span itemprop="priceCurrency" content="CZK">,- Kč</span>
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-lg-none col-md-4 col-sm-3 col-xs-2 d-print-none"></div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8 text-uppercase center-block text-center d-print-none">
        <div itemprop="image" id="small-banner" style="background-image: url('{{ asset('/images/events/'~event.image) }}')" content="{{ asset('/images/events/'~event.image) }}">
            <a href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}">Přihlas se nyní!</a>
        </div>
    </div>
</div>
<div class="row text-justify">
    {% if event.eventWebContent is defined and event.eventWebContent.textValue is defined and event.eventWebContent.textValue %}
        {% autoescape false %}{{ event.eventWebContent.textValue }}{% endautoescape %}
    {% endif %}
</div>
