<div class="row text-justify" itemscope itemtype="http://schema.org/Event">
    <meta itemprop="eventAttendanceMode" content="http://schema.org/MixedEventAttendanceMode">
    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
    <div class="col-12">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.slug}) }}">
                        <img class="card-img" alt="{{ event.name }}" itemprop="image"
                             content="{{ absolute_url(asset(event.image ? '/images/events/'~event.image : 'img/web/og-image.jpg'))|default }}"
                             src="{{ absolute_url(asset(event.image ? '/images/events/'~event.image : 'img/web/og-image.jpg'))|default }}">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="card-body pt-0 pb-0">
                        <h2 class="card-title text-uppercase mt-1 mb-0" itemprop="name">
                            <small><a itemprop="url" href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.slug}) }}">{{ event.name }}</a></small>
                        </h2>
                        <p class="card-text text-muted">
                            {% if event.series is defined and event.batchOrYear and event.getSeqId > 0 %}
                                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }} akce
                                {{ event.series.shortName }} {{ event.batch ? event.startYear : null }}
                            {% else %}
                                {{ event.type ? event.type.shortName~', ' : null }} {{ event.series ? event.series.shortName : null }}
                            {% endif %}
                        </p>
                        {% if event.description %}
                            <p class="card-text" itemprop="description">{{ event.description|default }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        📅 &nbsp;{{ event.rangeAsText|default }}
                        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
                        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
                    </div>
                    <div class="col-lg-6">
                        {% if event.location(true) is defined and event.location(true) %}
                            <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                {% if event.location(true).name is defined and event.location(true).name %}
                                    <div itemprop="name" content="{{ event.location(true).name }}"> 🗺&nbsp;
                                        {% if event.location(true).url %}
                                            <a href="{{ event.location(true).url }}" title="{{ event.location(true).fullAddress|default(event.location(true).name) }}"
                                               target="_blank">
                                                {{ event.location(true).name }}
                                            </a>
                                        {% else %}
                                            {{ event.location(true).name }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    {% if event.location(true).name is defined and event.location(true).name %}
                                        <meta itemprop="name" content="{{ event.location(true).name }}"/>
                                    {% endif %}
                                    {% if event.location(true).streetAddress is defined and event.location(true).streetAddress %}
                                        <meta itemprop="streetAddress" content="{{ event.location(true).streetAddress }}"/>
                                    {% endif %}
                                    {% if event.location(true).city is defined and event.location(true).city %}
                                        <meta itemprop="addressLocality" content="{{ event.location(true).city }}"/>
                                    {% endif %}
                                    {% if event.location(true).postalCode is defined and event.location(true).postalCode %}
                                        <meta itemprop="postalCode" content="{{ event.location(true).postalCode }}"/>
                                    {% endif %}
                                    {% if event.location(true).city is defined and event.location(true).city %}
                                        <meta itemprop="addressRegion" content="{{ event.location(true).city }}"/>
                                    {% endif %}
                                    {% if event.location(true).url is defined and event.location(true).url %}
                                        <meta itemprop="url" content="{{ event.location(true).url }}"/>
                                    {% endif %}
                                    <meta itemprop="addressCountry" content="CZ"/>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
