<div class="row text-justify" itemscope itemtype="http://schema.org/Event">
    <meta itemprop="eventAttendanceMode" content="http://schema.org/MixedEventAttendanceMode">
    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
    <div class="col-12">
        <div class="card mt-3 mb-4">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.slug}) }}">
                        <img class="card-img" alt="{{ event.name }}" itemprop="image"
                             content="{{ absolute_url(asset(event.image ? '/images/events/'~event.image : 'img/web/og-image.jpg'))|default }}"
                             src="{{ absolute_url(asset(event.image ? '/images/events/'~event.image : 'img/web/og-image.jpg'))|default }}">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="card-body pt-0 pb-0">
                        <h2 class="card-title text-uppercase mt-1 mb-0" itemprop="name">
                            <small><a itemprop="url" href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.slug}) }}">{{ event.name }}</a></small>
                        </h2>
                        <p class="card-text text-muted">
                            {% if event.series|default and event.batchOrYear and event.getSeqId > 0 %}
                                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }} akce
                                {{ event.series.shortName }} {{ event.batch ? event.startYear : null }}
                            {% else %}
                                {{ event.type ? event.type.shortName~', ' : null }} {{ event.series ? event.series.shortName : null }}
                            {% endif %}
                        </p>
                        {% if event.description %}
                            <div class="card-text small mb-3" itemprop="description">{{ event.description|default }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <i class="fas fa-calendar-day text-muted"></i>&nbsp;<small class="p-2">{{ event.rangeAsText|default }}</small>
                        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
                        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
                    </div>
                    <div class="col-md-6">
                        {% if event.location(true)|default %}
                            <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                {% if event.location(true).name is defined and event.location(true).name %}
                                    <div itemprop="name" content="{{ event.location(true).name }}">
                                        <i class="fas fa-map-marked-alt text-muted"></i>&nbsp;
                                        {%- if event.location(true).url -%}
                                            <a title="{{ event.location(true).fullAddress|default(event.location(true).name) }}"
                                               href="{{ event.location(true).url }}" target="_blank">
                                                {%- block event_location_name -%}<small class="p-2">{{- event.location(true).name -}}</small>{%- endblock event_location_name -%}
                                            </a>
                                        {%- else -%}
                                            {{ block('event_location_name') }}
                                        {%- endif -%}
                                    </div>
                                {% endif %}
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    {% if event.location(true).name|default %}
                                        <meta itemprop="name" content="{{ event.location(true).name }}"/>
                                    {% endif %}
                                    {% if event.location(true).streetAddress|default %}
                                        <meta itemprop="streetAddress" content="{{ event.location(true).streetAddress }}"/>
                                    {% endif %}
                                    {% if event.location(true).city|default %}
                                        <meta itemprop="addressLocality" content="{{ event.location(true).city }}"/>
                                    {% endif %}
                                    {% if event.location(true).postalCode|default %}
                                        <meta itemprop="postalCode" content="{{ event.location(true).postalCode }}"/>
                                    {% endif %}
                                    {% if event.location(true).city|default %}
                                        <meta itemprop="addressRegion" content="{{ event.location(true).city }}"/>
                                    {% endif %}
                                    {% if event.location(true).url|default %}
                                        <meta itemprop="url" content="{{ event.location(true).url }}"/>
                                    {% endif %}
                                    <meta itemprop="addressCountry" content="CZ"/>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
