<div class="row">
    <div class="col-12">
        <header class="text-uppercase">
            <h2 itemprop="name" content="{{ event.name }}">
                <i class="fas fa-calendar-week"></i>
                <span class="d-inline d-md-none">{{ event.shortName }}</span>
                <span class="d-none d-md-inline">{{ event.name }}</span>
            </h2>
        </header>
    </div>
</div>

<div class="row text-justify">
    <meta itemprop="name" content="{{ event.name }}">
    <div class="col-lg-9" itemscope itemtype="http://schema.org/Event">
        {% include '@OswisOrgOswisCalendar/web/parts/event-nav.html.twig' %}
        <h3>
            {% if event.series is defined and event.batchOrYear and event.getSeqId > 0 %}
                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }} akce
                {{ event.series.shortName }} {{ event.batch ? event.startYear : null }}
            {% else %} {# TODO: Create method event.getSubTitle() #}
                {{ event.type ? event.type.shortName~', ' : null }} {{ event.series ? event.series.shortName : null }}
            {% endif %}
        </h3>
        <h3 class="mb-3"><small>{{ event.rangeAsText|default }}</small></h3>
        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default }}"></span>
        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default }}"></span>
        {% if event.subEvents|length > 0 %}
            <h3>Zahrnuje akce:</h3>
            <ul class="mt-2">
                {% for subEvent in event.subEvents %}
                    <li>
                        <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': subEvent.slug}) }}" title="{{ subEvent.name }}">
                            <i class="fas fa-calendar-week"></i>&nbsp;<strong>{{ subEvent.shortName }}</strong>
                        </a>
                        {{ subEvent.rangeAsText ? '('~subEvent.rangeAsText~')' : null }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if event.superEvent is defined and event.superEvent %}
            <h3>Je součástí akce:</h3>
            <ul class="mt-2">
                <li>
                    <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.superEvent.slug}) }}" title="{{ event.superEvent.name }}">
                        <strong>{{ event.superEvent.shortName }}</strong>
                    </a>
                    {{ event.superEvent.rangeAsText ? '('~event.superEvent.rangeAsText~')' : null }}
                </li>
            </ul>
        {% endif %}
        <div itemprop="description">{{ event.description|default }}</div>
    </div>
    <div class="d-lg-none col-md-4 col-sm-3 col-xs-2 d-print-none"></div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8 text-uppercase center-block text-center d-print-none">
        <div itemprop="image" id="small-banner" content="{{ asset('/images/events/'~event.image) }}"
             style="background-image: url('{{ event.image ? asset('/images/events/'~event.image) : '' }}')">
            <a href="{{ path('oswis_org_oswis_calendar_web_event_participant_registration', {'eventSlug': event.slug}) }}">Přihlas se nyní!</a>
        </div>
    </div>
</div>

<div class="row card-deck">
    {% if event.location(true) is defined and event.location(true) %}
        <div class="col-md-6 col-lg-7 mt-2 mb-3 p-0">
            {% include '@OswisOrgOswisCalendar/web/parts/event-location.html.twig' %}
        </div>
    {% endif %}
    {% if organizer is defined and organizer %}
        <div class="col-md-6 col-lg-5 mt-2 mb-3 p-0">
            {% include '@OswisOrgOswisCalendar/web/parts/event-organizer.html.twig' %}
        </div>
    {% endif %}
</div>

{% for range in event.registrationRangesByTypeOfType('attendee')|filter(r => r.publicOnWeb) %}
    <h3>Přihlášky</h3>
    {% include '@OswisOrgOswisCalendar/web/parts/event-participant-registration-range-preview.html.twig' %}
{% endfor %}

<div class="row text-justify">
    {% if event.webContent is defined and event.webContent.textValue is defined and event.webContent.textValue %}
        {% autoescape false %}{{ event.webContent.textValue }}{% endautoescape %}
    {% endif %}
</div>

