<h3>Přihlášky</h3>
<div class="row card-deck" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="card mt-2 mb-2">
        <div class="card-header p-2">
            <h5 class="card-title mb-0" itemprop="name">
                <small>
                    <strong>
                        {% if range.rangeActive %}
                            <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.slug}) }}">
                                {{ range.name|default('Přihláška na akci '~event.name|default) }}
                            </a>
                        {% else %}
                            {{ range.name|default('Přihláška na akci '~event.name|default) }}
                        {% endif %}
                    </strong>
                </small>
            </h5>
        </div>
        <div class="card-body p-3">
            <h6 class="card-subtitle mb-2 text-muted">{{ range.rangeAsText ? 'Rozmezí přihlášek: ' ~ range.rangeAsText|default : null }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">
                Typ přihlášky: {{ range }}
            </h6>
            <div class="badge badge-success pt-1 pb-1 pl-2 pr-2 mt-1">Přihlas se nyní!</div>
            <div class="badge badge-warning pt-1 pb-1 pl-2 pr-2 mt-1">Zbývá 5 dní.</div>
            <span itemprop="availability" content="http://schema.org/InStock"></span>
            <div itemprop="validFrom" content="{{ range.startDate|date("Y-m-d\\TH:i:sP")|default }}"></div>
            <div itemprop="validThrough" content="{{ range.endDate|date("Y-m-d\\TH:i:sP")|default }}"></div>
        </div>
        <div class="card-footer row m-0">
            <div class="col-6 p-0"><strong>Záloha</strong><br>{{ range.depositValue|default(0) }},-&nbsp;Kč</div>
            <div class="col-6 p-0">
                <strong>Celkem</strong><br>
                <span itemprop="price">{{ range.numericValue }}</span><span itemprop="priceCurrency" content="CZK">,-&nbsp;Kč</span>
            </div>
        </div>
    </div>
</div>
