<div class="row">
    <div class="col-12 mt-2 mt-lg-0">
        <div class="container">
            {% if event|default and event.year %}
                <section class="row">
                    <div class="col-12 text-center text-uppercase">
                        <a href="{{ path('oswis_org_oswis_calendar_web_event') }}"><h2><span
                                        class="text-black">Ročník</span> {{ event.startYear }}</h2></a>
                    </div>
                    {% if prefix|default %}
                        <div class="col-12 text-center mb-1">
                            <p>{{ prefix }}</p>
                        </div>
                    {% endif %}
                    <div class="batches-sidebar-box col-12 mb-0">
                        {% for subEvent in event.subEvents|default([])|filter(e => e.batch) %}
                            {% set range_text = date_range_string(
                                subEvent.startDateTime|default(null),
                                subEvent.endDateTime|default(null),
                                true) %}
                            <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': subEvent.slug}) }}">
                                <div>
                                    <div class="fa-stack">
                                        <div class="far fa-circle fa-stack-2x"></div>
                                        <strong class="fa-stack-1x">{{ subEvent.seqId }}</strong>
                                    </div>
                                </div>
                                <strong>{{ range_text }}</strong>
                            </a>
                        {% endfor %}
                    </div>
                    {% if suffix|default %}
                        <div class="col-12 text-center mt-1">
                            <p>{{ suffix }}</p>
                        </div>
                    {% endif %}
                </section>
            {% endif %}
        </div>
    </div>
</div>
