<section class="row">
    <div class="col-12">
        <header class="text-uppercase">
            <h2 itemprop="name" content="{{ event.name }}">
                <i class="fas fa-calendar-week"></i>
                <span class="d-inline d-md-none">{{ event.shortName }}</span>
                <span class="d-none d-md-inline">{{ event.name }}</span>
            </h2>
        </header>
    </div>
</section>

<section class="row text-justify mb-4">
    <meta itemprop="name" content="{{ event.name }}">
    <meta itemprop="eventAttendanceMode" content="http://schema.org/MixedEventAttendanceMode">
    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
    <div class="col-lg-9">
        {{ render(controller('OswisOrg\\OswisCalendarBundle\\Controller\\EventController::showEventsNavigationChunk', {'eventSlug': event.slug})) }}
        <h3>
            {% if event.group|default and event.batchOrYear and event.getSeqId > 0 %}
                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }} akce
                {{ event.group.shortName }} {{ event.batch ? event.startYear : null }}
            {% else %} {# TODO: Create method event.getSubTitle() #}
                {{ event.type ? event.type.shortName~', ' : null }} {{ event.group ? event.group.shortName : null }}
            {% endif %}
        </h3>
        <h3 class="mb-3 p-1">
            <i class="fas fa-calendar-day text-muted"></i>&nbsp;<small class="p-1">{{ event.rangeAsText|default }}</small>
        </h3>
        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default }}"></span>
        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default }}"></span>
        {% if event.subEvents|length > 0 %}
            {% include '@OswisOrgOswisCalendar/web/parts/event-sub-events-list.html.twig' with {'subEvents': event.subEvents} %}
        {% endif %}
        {% if event.superEvent|default %}
            <h3>Je součástí akce:</h3>
            <ul class="mt-2">
                <li>
                    <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.superEvent.slug}) }}" title="{{ event.superEvent.name }}">
                        <i class="fas fa-calendar-week"></i>
                        <strong class="d-inline d-md-none">{{ event.superEvent.shortName }}</strong>
                        <strong class="d-none d-md-inline">{{ event.superEvent.name }}</strong>
                    </a>
                    {{ event.superEvent.rangeAsText ? '('~event.superEvent.rangeAsText~')' : null }}
                </li>
            </ul>
        {% endif %}
        <div itemprop="description">{{ event.description|default }}</div>
    </div>
    <div class="d-lg-none col-md-4 col-sm-3 col-xs-2 d-print-none"></div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
        {{ render_hinclude(controller('OswisOrg\\OswisCoreBundle\\Controller\\Website\\WebBannerController::showWebBanner',
            {'type': 'event', 'identifier': event.slug})) }}
    </div>
</section>

<section class="row text-justify">
    {% if event.content.textValue|default %}
        {% autoescape false %}{{ event.content.textValue }}{% endautoescape %}
    {% endif %}
</section>

<section class="row">
    <div class="col-12">
        <div class="card-deck">
            {% if event.place(true)|default %}
                <div class="col-12 col-md-6 col-lg-7 mt-2 mb-3 p-0">
                    {% include '@OswisOrgOswisCalendar/web/parts/event-location.html.twig' %}
                </div>
            {% endif %}
            {% if organizer|default %}
                <div class="col-12 col-md-6 col-lg-5 mt-2 mb-3 p-0">
                    {% include '@OswisOrgOswisCalendar/web/parts/event-organizer.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% if rangesByEvents|default and rangesByEvents|length > 0 %}
    <section class="row">
        <header class="col-12">
            <h3>Přihlášky</h3>
        </header>
    </section>
    <section class="row">
        {% for rangesByEvent in rangesByEvents|filter(rangesByEvent => rangesByEvent.ranges|length > 0) %}
            {% for range in rangesByEvent.ranges %}
                {% include '@OswisOrgOswisCalendar/web/parts/participant-registration-range-preview.html.twig' %}
            {% endfor %}
        {% endfor %}
    </section>
{% endif %}
