<ul class="mt-2 mb-2">
    {% for subEvent in subEvents %}
        <li>
            <a itemprop="subEvent" href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': subEvent.slug}) }}" title="{{ subEvent.name }}">
                <i class="fas fa-calendar-week"></i>
                <strong class="d-inline d-md-none">{{ subEvent.shortName }}</strong>
                <strong class="d-none d-md-inline">{{ subEvent.name }}</strong>
            </a>
            <wbr class="d-inline d-md-none">
            {{ subEvent.rangeAsText ? '('~subEvent.rangeAsText~')' : null }}
        </li>
    {% endfor %}
</ul>
