<div class="card h-100" itemprop="location" itemscope itemtype="http://schema.org/Place">
    <meta itemprop="name" content="{{ event.place(true).name|default }}"/>
    <div class="card-header p-2">
        <small class="text-muted">Místo konání&nbsp;akce</small>
        <strong class="float-end align-middle text-muted"><i class="fas fa-map-marked-alt"></i></strong>
    </div>
    {% if event.place(true).geoLon and event.place(true).geoLat %}
        {% set geoLon = event.place(true).geoLon|number_format(6, '.', '') %}
        {% set geoLat = event.place(true).geoLat|number_format(6, '.', '') %}
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="longitude" content="{{ geoLon }}"/>
            <meta itemprop="latitude" content="{{ geoLat }}"/>
        </div>
        <iframe class="lazy card-img-top border-0" style="min-height: 200px;" loading="lazy" data-src="https://frame.mapy.cz/zakladni?x={{ geoLon }}&y={{ geoLat }}&z=15">
            <div class="w-100 h-100 d-flex">
                {% include '@OswisOrgOswisCore/web/parts/loading-screen.html.twig' %}
            </div>
        </iframe>
    {% endif %}
    <div class="card-body p-3">
        <h5 class="card-title" itemprop="name"><strong>{{ event.place(true).name }}</strong></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event.place(true).fullAddress|default }}</h6>
        {% if event.place(true).description|default %}
            <div class="card-text" itemprop="description">
                {{ event.place(true).description|default|u.truncate(200, '...', false)|markdown_to_html }}
            </div>
        {% endif %}
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <meta itemprop="streetAddress" content="{{ event.place(true).streetAddress|default }}"/>
            <meta itemprop="addressLocality" content="{{ event.place(true).city|default }}"/>
            <meta itemprop="postalCode" content="{{ event.place(true).postalCode|default }}"/>
            <meta itemprop="addressRegion" content="{{ event.place(true).city|default }}"/>
            <meta itemprop="url" content="{{ event.place(true).url|default }}"/>
            <meta itemprop="addressCountry" content="CZ"/>
        </div>
    </div>
    {% if event.place(true).url %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{ event.place(true).url }}" title="{{ event.place(true).name }}" target="_blank" itemprop="url" class="card-link">
                    Web
                </a>
            </li>
        </ul>
    {% endif %}
</div>
