<div class="row text-justify">
    <div class="col-lg-9" itemscope itemtype="http://schema.org/Event">
        <header>
            <h2 class="text-uppercase" itemprop="name">
                <a itemprop="url" href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}">{{ event.name }}</a>
            </h2>
        </header>
        {% if event.series is defined and event.batchOrYear and event.getSeqId > 0 %}
            <h3>
                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }}
                akce {{ event.series.shortName }}{{ event.batch ? event.startYear : null }}
            </h3>
        {% else %}
            {{ event.type ? event.type.shortName~', ' : null }}
            {{ event.series ? event.series.shortName : null }}
        {% endif %}
        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default('') }}"></span>
        <div>
            {% if event.rangeAsText is defined and event.rangeAsText %}
                <p><strong>Termín:</strong> {{ event.rangeAsText }}<br></p>
            {% endif %}
            {% if event.organizer is defined and event.organizer %}
                <div itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                    <strong>Pořadatel: </strong><span itemprop="name">{{ event.organizer.name|default('') }}</span>
                    <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg'))|default('') }}"/>
                </div>
            {% endif %}
            {% if event.description is defined and event.description %}
                <p itemprop="description">{{ event.description }}</p>
            {% endif %}
            {% if event.location is defined and event.location %}
                <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
                    {% if event.location.name is defined and event.location.name %}
                        <meta itemprop="name" content="{{ event.location.name }}"/>
                    {% endif %}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <p>
                            <strong>Místo: </strong>
                            {% if event.location.url %}
                                <a href="{{ event.location.url }}" title="{{ event.location.name }}">{{ event.location.name }}</a>
                            {% else %}
                                {{ event.location.name }}
                            {% endif %}
                        </p>
                        {% if event.location.name is defined and event.location.name %}
                            <meta itemprop="name" content="{{ event.location.name }}"/>
                        {% endif %}
                        {% if event.location.streetAddress is defined and event.location.streetAddress %}
                            <meta itemprop="streetAddress" content="{{ event.location.streetAddress }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressLocality" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.postalCode is defined and event.location.postalCode %}
                            <meta itemprop="postalCode" content="{{ event.location.postalCode }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressRegion" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.url is defined and event.location.url %}
                            <meta itemprop="url" content="{{ event.location.url }}"/>
                        {% endif %}
                        <meta itemprop=Country" content="CZ"/>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="d-lg-none col-md-4 col-sm-3 col-xs-2 d-print-none"></div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8 text-uppercase center-block text-center d-print-none">
        {% if event.image %}
            <div itemprop="image" id="small-banner" style="background-image: url('{{ asset('/images/events/'~event.image) }}')"
                 content="{{ asset('/images/events/'~event.image) }}">
                <a href="{{ path('zakjakub_oswis_calendar_web_event', {'slug': event.slug}) }}">Přihlas se nyní!</a>
            </div>
        {% endif %}
    </div>
</div>
