<section class="row">
    <header class="col-12 text-uppercase">
        <h2 itemprop="name" content="{{ event.name }}">
            <i class="fas fa-calendar-week"></i>
            <span class="d-inline d-md-none">{{ event.shortName }}</span>
            <span class="d-none d-md-inline">{{ event.name }}</span>
        </h2>
    </header>
</section>

<section class="row text-justify mb-4">
    <meta itemprop="name" content="{{ event.name }}">
    <meta itemprop="eventAttendanceMode" content="http://schema.org/MixedEventAttendanceMode">
    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
    <div class="col-12 mb-2">
        {{ render(controller('OswisOrg\\OswisCalendarBundle\\Controller\\Event\\EventController::showEventsNavigationChunk',
            {'eventSlug': event.slug})) }}
    </div>
    <div class="col-lg-9">
        <h3 class="text-center">
            {% if event.group|default and event.batchOrYear and event.getSeqId > 0 %}
                {{ event.getSeqId }}. {{ event.year ? 'ročník' : 'turnus' }} akce
                {{ event.group.shortName }} {{ event.batch ? event.startYear : null }}
            {% else %} {# TODO: Create method event.getSubTitle() #}
                {{ event.type ? event.type.shortName~', ' : null }} {{ event.group ? event.group.shortName : null }}
            {% endif %}
        </h3>
        <h3 class="mb-3 p-1 text-center">
            <small class="p-1">{{ event.rangeAsText|default }}</small>
        </h3>
        <span itemprop="startDate" content="{{ event.startDate|date("Y-m-d\\TH:i:sP")|default }}"></span>
        <span itemprop="endDate" content="{{ event.endDate|date("Y-m-d\\TH:i:sP")|default }}"></span>
        {% if event.subEvents|length > 0 %}
            {% include '@OswisOrgOswisCalendar/web/parts/event-sub-events-list.html.twig'
                with {'subEvents': event.subEvents} %}
        {% endif %}
        {% if event.superEvent|default %}
            <h3>Je součástí akce:</h3>
            <ul class="mt-2">
                <li itemprop="superEvent" itemscope itemtype="http://schema.org/Event">
                    <a itemprop="url"
                       href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': event.superEvent.slug}) }}"
                       title="{{ event.superEvent.name }}">
                        <i class="fas fa-calendar-week"></i>
                        <strong class="d-inline d-md-none">{{ event.superEvent.shortName }}</strong>
                        <strong class="d-none d-md-inline" itemprop="name">{{ event.superEvent.name }}</strong>
                    </a>
                    <wbr class="d-inline">
                    {{ event.superEvent.rangeAsText ? '('~event.superEvent.rangeAsText~')' : null }}
                    <meta itemprop="startDate" content="{{ event.superEvent.startDate|date("Y-m-d\\TH:i:sP")|default }}"/>
                    <meta itemprop="endDate" content="{{ event.superEvent.endDate|date("Y-m-d\\TH:i:sP")|default }}"/>
                    <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                        <meta itemprop="name" content="{{ event.superEvent.organizer(true).contact.name|default }}"/>
                        <meta itemprop="url" content="{{ event.superEvent.organizer(true).contact.url|default }}"/>
                    </div>
                    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <meta itemprop="name" content="{{ event.superEvent.place(true).name|default }}"/>
                        <meta itemprop="address" content="{{ event.place(true).fullAddress|default }}"/>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="d-lg-none col-md-4 col-sm-3 col-xs-2 d-print-none"></div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
        {{ render_hinclude(controller('OswisOrg\\OswisCoreBundle\\Controller\\Web\\WebBannerController::showWebBanner',
            {'type': 'event', 'identifier': event.slug})) }}
    </div>
</section>

<section class="row text-justify my-3">
    <div itemprop="description">{{ event.description|default }}</div>
</section>

<section class="row text-justify">
    {% if event.content.textValue|default %}
        {% autoescape false %}{{ event.content.textValue }}{% endautoescape %}
    {% endif %}
</section>

<section class="row align-items-stretch my-2">
    {% if event.place(true)|default %}
        <div class="col-12 col-md-6 col-lg-7">
            {% include '@OswisOrgOswisCalendar/web/parts/event-location.html.twig' %}
        </div>
    {% endif %}
    {% if organizer|default %}
        <div class="col-12 col-md-6 col-lg-5">
            {% include '@OswisOrgOswisCalendar/web/parts/event-organizer.html.twig' %}
        </div>
    {% endif %}
</section>

{% if ranges|default and ranges|length > 0 %}
    <section class="row mt-4">
        <header class="col-12"><h3>Přihlášky</h3></header>
    </section>
    <section class="row">
        {% for range in ranges|sort((a, b) => a.priority >= b.priority) %}
            {% include '@OswisOrgOswisCalendar/web/parts/participant-registration-range-preview.html.twig' with {'range': range} %}
        {% endfor %}
    </section>
{% endif %}
