<div class="card" itemprop="organizer" itemscope itemtype='{{ 'http://schema.org/' ~ organizer.organization ? 'Organization' : 'Person' }}'>
    <div class="card-header p-2">
        <small class="text-muted">Organizátor&nbsp;akce</small>
        <strong class="float-right align-middle text-muted"><i class="fas fa-users"></i></strong>
    </div>
    {% if organizer.image %}{# TODO: Image.#}
        <img class="card-img-top border-0 rounded mx-auto d-block" itemprop="image" alt="{{ organizer.name }}"
             src="{{ absolute_url(preload(asset('img/web/og-image.jpg'), {as: 'image'}))|default }}">
    {% endif %}
    <div class="card-body p-3">
        <h5 class="card-title" itemprop="name"><strong>{{ organizer.name|default }}</strong></h5>
        {% if organizer.organization and not organizer.identificationNumber|default is empty %}
            <h6 class="card-subtitle mb-2 text-muted" itemprop="identifier">{{ organizer.identificationNumber|default }}</h6>
        {% endif %}
    </div>
    {% if organizer.url %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{ organizer.url }}" title="{{ organizer.name }}" target="_blank" itemprop="url" class="card-link">Web</a>
            </li>
        </ul>
    {% endif %}
</div>
