{% if event|default and event.year %}
    <div class="col-12 text-center text-uppercase">
        <a href="{{ path('oswis_org_oswis_calendar_web_event') }}"><h2><span class="text-black">Ročník</span> {{ event.startYear }}</h2></a>
    </div>
    <div class="batches-sidebar-box mb-0">
        {% for subEvent in event.subEvents|default|filter(e => e.batch) %}
            <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug' => subEvent.slug}) }}">
                <div>
                    <div class="fa-stack">
                        <div class="far fa-circle fa-stack-2x"></div>
                        <strong class="fa-stack-1x">{{ event.seqId }}</strong>
                    </div>
                </div>
                <strong>{{ subEvent.getRangeAsText(true) }}</strong>
            </a>
        {% endfor %}
    </div>
{% endif %}