{% if partner.contact.oneImage|default %}
    <div class="swiper-slide pt-1 pb-1 pl-1 pr-1">
        {% if partner.contact.url %}
            <a href="{{ partner.contact.url }}" target="_blank" title="{{ partner.name }}" data-toggle="tooltip" data-placement="top">
                <div data-background="{{ asset('/images/contacts/'~partner.contact.oneImage) }}" class="swiper-lazy" title="{{ partner.name }}">
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </a>
        {% else %}
            <div data-background="{{ asset('/images/contacts/'~partner.contact.oneImage) }}" class="swiper-lazy"
                 title="{{ partner.name }}" data-toggle="tooltip" data-placement="top">
                <div class="swiper-lazy-preloader"></div>
            </div>
        {% endif %}
    </div>
{% endif %}
