<section class="col-xs-12 col-lg" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="card-deck">
        <div class="card mt-2 mb-4">
            {% if range.rangeActive|default %}
                <a href="{{ path('oswis_org_oswis_calendar_web_registration', {'rangeSlug': range.slug|default}) }}" itemprop="url">
                    {% block range_preview_title %}
                        <div class="card-header p-2">
                            <h5 class="card-title mb-0 fw-bold font-1em">
                                <span class="d-inline d-xl-none">{{ range.shortName|default('Přihláška na '~range.event.shortName|default) }}</span>
                                <span class="d-none d-xl-inline" itemprop="name">{{ range.name|default('Přihláška na akci '~range.event.name|default) }}</span>
                                <span class="float-end align-middle text-muted"><i class="fas fa-ticket-alt"></i></span>
                            </h5>
                        </div>
                    {% endblock range_preview_title %}
                </a>
            {% else %}
                {{ block('range_preview_title') }}
            {% endif %}
            <div class="card-body p-3">
                {% if range.rangeAsText|default %}
                    <h6 class="card-subtitle mb-2 text-muted">
                        <strong>Možnost podání přihlášky:</strong> {{ range.rangeAsText|default }}
                    </h6>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">
                    <strong>Akce:</strong>
                    <a href="{{ path('oswis_org_oswis_calendar_web_event', {'eventSlug': range.event.slug|default}) }}" itemprop="itemOffered"
                       title="{{ range.event|default }}" content="{{ range.event|default }}" data-bs-toggle="tooltip">
                        {{ range.event.shortName|default }}
                    </a>
                </h6>
                {% if range.event.rangeAsText|default %}
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Termín akce:</strong> {{ range.event.rangeAsText|default }}</h6>
                {% endif %}
                {% if range.participantCategory|default and not range.participantCategory.defaultType %}
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Typ přihlášky:</strong> {{ range.participantCategory.name|default }}</h6>
                {% endif %}
                {% if range.description %}
                    <div class="mt-2 mb-2 small text-justify" itemprop="description">{{ range.description }}</div>
                {% endif %}
                {% if range.note %}
                    <div class="text-muted mt-2 mb-2" itemprop="description">{{ range.note }}</div>
                {% endif %}
                <div style="font-size: 1.3em;">
                    {% if range.rangeActive %}
                        {% set badgeClassColor = range.surrogate ? 'warning' : 'success' %}
                        <a href="{{ path('oswis_org_oswis_calendar_web_registration', {'rangeSlug': range.slug|default}) }}">
                            <div class="badge badge-{{ badgeClassColor }} py-1 px-2 mt-1">
                                Přihlas se nyní{{- range.surrogate ? ' (jako náhradník)' : '' -}}!
                            </div>
                        </a>
                    {% else %}
                        <div class="badge badge-dark py-1 px-2 mt-1">Aktuálně neaktivní.</div>
                    {% endif %}
                    {#
                    {% if range.startDateTime and date(range.startDateTime).diff(date()).days > 0 %}
                        <div class="badge badge-warning pt-1 pb-1 ps-2 pe-2 mt-1">
                            Začíná za {{ date(range.startDateTime).diff(date()).days }} dní.
                        </div>
                    {% endif %}
                    #}
                    {% if range.endDateTime and date(range.endDateTime).diff(date()).days > 0 %}
                        <div class="badge badge-warning py-1 px-2 mt-1">
                            Zbývá {{ date(range.endDateTime).diff(date()).days }} dní.
                        </div>
                    {% endif %}
                </div>
                <span itemprop="availability" content="http://schema.org/InStock"></span>
                <div itemprop="validFrom" content="{{ range.startDate|date("Y-m-d\\TH:i:sP")|default }}"></div>
                <div itemprop="validThrough" content="{{ range.endDate|date("Y-m-d\\TH:i:sP")|default }}"></div>
            </div>
            <div class="card-footer row m-0">
                <div class="col p-0">
                    <table class="w-100 h-100 small me-auto" style="max-width: 25em;">
                        <tr>
                            <td><strong>Záloha:</strong></td>
                            <td>{{- range.depositValue(range.participantCategory)|default(0) -}},-&nbsp;Kč</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Doplatek:</strong></td>
                            <td>{{- range.restValue(range.participantCategory)|default(0) -}},-&nbsp;Kč</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="col p-0">
                    <table class="w-100 h-100 ms-auto" style="max-width: 25em;">
                        <tr>
                            <td></td>
                            <td><strong>Cena celkem:</strong></td>
                            <td><span itemprop="price">{{ range.price(range.participantCategory)|default(0) }}</span><span itemprop="priceCurrency" content="CZK">,-&nbsp;Kč</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
