<table class="list">
    {% for flagCategoryUsage in flagsUsageArray %}
        {% set groupOrCategory = flagCategoryUsage.flagGroupRange|default ?: flagCategoryUsage.flagCategory %}
        <thead>
        <tr>
            <th>
                <strong>{{ groupOrCategory.shortName|default }}</strong>
                {% if groupOrCategory.shortName != groupOrCategory.name %}
                    <div class="block small">{{ groupOrCategory.name|default }}</div>
                {% endif %}
                <span class="block small">{{ groupOrCategory.id|default }}, {{ groupOrCategory.slug|default }}</span>
                {% if flagCategoryUsage.flagGroupRange|default
                    and (flagCategoryUsage.flagGroupRange.min|default(0) > 0 or flagCategoryUsage.flagGroupRange.max|default != null) %}
                    <span class="block small" style="font-weight: normal;">
                        Vyžadováno
                        <strong>
                            {{ flagCategoryUsage.flagGroupRange.min|default(0) -}}
                            &nbsp;až&nbsp;
                            {{- flagCategoryUsage.flagGroupRange.max|default('neomezeno') }}
                        </strong>
                        v&nbsp;každé přihlášce.
                    </span>
                {% endif %}
            </th>
            <th>Počet použití
                <div class="block small">Kapacita</div>
            </th>
        </tr>
        </thead>
        {% for flagUsage in flagCategoryUsage.items|sort((a, b) => a.entity.id <=> b.entity.id) %}
            {% set flag = flagUsage.entity.flag|default ? flagUsage.entity.flag : flagUsage.entity %}
            {% set textColorCss = flag.color|default ? 'color:' ~ flag.color ~ ';' : '' %}
            <tbody>
            <tr>
                <td>
                    <span class="block">
                        <strong style="{{ textColorCss }}">{{ flagUsage.entity.shortName|default }}</strong>
                        <span class="small" style="display: inline;">
                            {{ flagUsage.entity.id|default }}, <em>{{ flagUsage.entity.slug|default }}</em>
                        </span>
                    </span>
                    {% if flagUsage.entity.shortName != flagUsage.entity.name %}
                        <span class="block small">{{ flagUsage.entity.name|default }}</span>
                    {% endif %}
                    {% if flagUsage.entity.min|default(0) > 0 or flagUsage.entity.max|default != null %}
                        <span class="block small">
                            Vyžadováno
                            <strong>
                                {{ flagUsage.entity.min|default(0) -}}
                                &nbsp;až&nbsp;
                                {{- flagUsage.entity.max|default('neomezeno') }}
                            </strong>
                            v&nbsp;každé přihlášce.
                        </span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <strong>{{ flagUsage.usage|default(0) }}</strong>
                    {% if flagUsage.entity.baseCapacity|default > 0 %}
                        <em class="small">z {{ flagUsage.entity.baseCapacity }}</em>
                        {% set usagePercentage = (flagUsage.usage|default(0) / flagUsage.entity.baseCapacity * 100)|round(1) %}
                        {% set usageColor = usagePercentage > 70 ? 'danger' : 'success' %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-{{ usageColor }}" role="progressbar"
                                 aria-valuemin="0"
                                 style="width: {{ usagePercentage }}%" aria-valuenow="{{ usagePercentage }}"
                                 aria-valuemax="100">
                                {{ usagePercentage }}
                            </div>
                        </div>
                    {% endif %}
                    {% if occupancy.occupancy|default > 0 %}
                        <span class="block small">
                            {{ (flagUsage.usage|default(0) / occupancy.occupancy * 100)|round(1) }}&nbsp;% účastníků
                        </span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    {% endfor %}
</table>
