{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% set contact = participant is defined ? participant.contact : null %}
{% set f = f is defined ? f : (participant.formal is defined ? participant.formal : true) %}
{% set a = a is defined ? a : (contact.czechSuffixA is defined ? contact.czechSuffixA : '') %}
{% set salName = salutationName|default(contact.salutationName|default) %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <a class="col-6"
               href="{{ path('oswis_org_oswis_calendar_web_admin_participant_arrival', { participantId: participant.id, arrival: true }) }}">
            </a>
            <a class="col-6">
            </a>
        </div>
        <div class="row" style="margin: .25rem 0 .5rem;">
            <div class="col-12">
                {% include '@OswisOrgOswisCalendar/web_admin/communication/_quick_actions.html.twig' with { participant: participant } only %}
            </div>
        </div>
        <div class="row" style="margin: .75rem 0;">
            <div class="col-12">
                <a class="btn btn-outline-primary btn-sm"
                   href="{{ path('oswis_org_oswis_calendar_web_admin_participant_communication', { participantId: participant.id }) }}">
                    Komunikace s účastníkem →
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-outline-primary btn-sm" style="margin-left: .5rem;"
                       href="{{ path('oswis_org_oswis_calendar_web_admin_participant_compose_mail', { participantId: participant.id }) }}">
                        ✎ Nová zpráva
                    </a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and not (contact.appUser|default and contact.appUser.activated|default) %}
                    <form method="post"
                          action="{{ path('oswis_org_oswis_calendar_web_admin_participant_resend_activation', { participantId: participant.id }) }}"
                          style="display: inline-block; margin-left: .5rem;"
                          onsubmit="return confirm('Znovu odeslat aktivační e-mail účastníkovi #{{ participant.id }}?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('participant_resend_activation_' ~ participant.id) }}">
                        <button type="submit" class="btn btn-sm btn-outline-info">
                            ✉ Znovu poslat aktivační e-mail
                        </button>
                    </form>
                {% endif %}
                {% if participant.deletedAt|default and is_granted('ROLE_ADMIN') %}
                    <form method="post"
                          action="{{ path('oswis_org_oswis_calendar_web_admin_participant_restore', { participantId: participant.id }) }}"
                          style="display: inline-block; margin-left: .5rem;"
                          onsubmit="return confirm('Opravdu obnovit účastníka #{{ participant.id }}?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('participant_restore_' ~ participant.id) }}">
                        <button type="submit" class="btn btn-sm btn-outline-success">
                            ↻ Obnovit smazaného účastníka
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include '@OswisOrgOswisCalendar/other/summary/participant-summary.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body_content %}
