<li>
    ID přihlášky: <span itemprop="reservationNumber">{{ eventParticipant.id }}</span><br>
    <meta itemprop="reservationId" content="{{ eventParticipant.id }}"/>
    <small itemprop="bookingTime" content="{{ eventParticipant.createdDateTime|date("c") }}">
        ({{ eventParticipant.createdDateTime|date("j. n. Y, H:i") }})
    </small>
    {% if eventParticipant.createdDateTime|date("c") != eventParticipant.updatedDateTime|date("c") %}
        <br><small>(poslední změna {{ eventParticipant.updatedDateTime|date("j. n. Y, H:i") }})</small>
    {% endif %}
</li>
<li itemprop="underName" itemscope itemtype="http://schema.org/Person">
    <b><span itemprop="name">{{ eventParticipant.contact.fullName }}</span></b><br>
    <small itemprop="email">({{ eventParticipant.contact.email }})</small>
</li>
<li>
    <b>Typ: </b> {{ eventParticipant.participantType.name }}
</li>
<li>
    <b>Cena celkem: </b> {{ eventParticipant.price }},- Kč
    <br>
    <small><b>Záloha:</b> {{ eventParticipant.priceDeposit }},- Kč</small>
    <br>
    <small><b>Doplatek:</b> {{ eventParticipant.priceRest }},- Kč</small>
    {% if eventParticipant.variableSymbol %}<br>
        <small><b>Variabilní symbol:</b> {{ eventParticipant.variableSymbol }}</small>{% endif %}
    {% if eventParticipant.event.bankAccountComplete %}<br>
        <small><b>Číslo účtu:</b> {{ eventParticipant.event.bankAccountComplete }}</small>
    {% endif %}
</li>
<li>
    <b>Zaplaceno:</b>&nbsp;{{ eventParticipant.paidPrice }},-&nbsp;Kč<br>
    <small><b>Zbývá:</b>&nbsp;{{ eventParticipant.remainingPrice }},-&nbsp;Kč</small>
</li>
<li>
    <b>{{ event.name }}</b><br>
    <small>
        (od {{ event.startDate|date("j. n. Y H:i")|default('neuvedeno') }}
        do {{ event.endDate|date("j. n. Y H:i")|default('neuvedeno') }})
    </small>
</li>
{% for study in eventParticipant.contact.studies %}
    <li>
        {{ study.organization.name }}
    </li>
{% endfor %}
{% for flagConnection in eventParticipant.eventParticipantFlagConnections %}
    <li>
        {{ flagConnection.eventParticipantFlag.name }}
        {% if flagConnection.textValue|default('')|length > 0 %}
            ({{ flagConnection.textValue }})
        {% endif %}
        {% if flagConnection.eventParticipantFlag.price|default(0) != 0 %}
            <small>
                <b>
                    ({{ flagConnection.eventParticipantFlag.price > 0 ? '+' : '' }}{{ flagConnection.eventParticipantFlag.price }},- Kč)
                </b>
            </small>
        {% endif %}
    </li>
{% endfor %}
{% for detail in eventParticipant.contact.contactDetails|default|filter(detail => detail.content|default|length > 0) %}
    <li>
        {{ detail.contactType.name|default('Kontakt') }}: {{ contactDetail.content }}
    </li>
{% endfor %}
{% for note in eventParticipant.participantNotes|default|filter(note => note.textValue|length > 0) %}
    <li>
        <b>Poznámka:</b>
        <p>
            <small>{{ note.textValue }}</small>
        </p>
    </li>
{% endfor %}
