<meta itemprop="name" content="{{ event.name|default }}"/>
<link itemprop="url"
      href="{{ absolute_url(path('oswis_org_oswis_calendar_web_event', {'slug': event.slug|default})) }}"/>
<meta itemprop="startDate" content="{{ event.startDate|date("c")|default }}"/>
<meta itemprop="endDate" content="{{ event.endDate|date("c")|default }}"/>
{% set place = event.place(true)|default %}
{% if place|default %}
    <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
        {% if place.name|default %}
            <meta itemprop="name" content="{{ place.name }}"/>
        {% endif %}
        {% if place|default %}
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% if place.name|default %}
                    <meta itemprop="name" content="{{ place.name }}"/>
                {% endif %}
                {% if place.streetAddress|default %}
                    <meta itemprop="streetAddress" content="{{ place.streetAddress }}"/>
                {% endif %}
                {% if place.city|default %}
                    <meta itemprop="addressLocality" content="{{ place.city }}"/>
                {% endif %}
                {% if place.postalCode|default %}
                    <meta itemprop="postalCode" content="{{ place.postalCode }}"/>
                {% endif %}
                {% if place.city|default %}
                    <meta itemprop="addressRegion" content="{{ place.city }}"/>
                {% endif %}
                {% if place.url|default %}
                    <!--suppress HtmlUnknownAttribute -->
                    <meta itemprop="url" href="{{ place.url }}" content="{{ place.url }}"/>
                {% endif %}
                <meta itemprop=Country" content="CZ"/>
            </div>
        {% endif %}
    </div>
{% endif %}
{% if event.organizer.contact|default %}{# TODO #}
    <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ event.organizer.contact.name|default }}"/>
        <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg'))|default('') }}"/>
        <link itemprop="url"
              href="{{ absolute_url(path('oswis_org_oswis_address_book_organization', {'slug': event.organizer.contact.slug|default})) }}"/>
        <!--<link itemprop="image" href="https://www.seznamovakup.cz/img/web/og-image.jpg"/>-->
    </div>
{% endif %}
