<li>
    ID přihlášky: <span itemprop="reservationNumber">{{ participant.id }}</span><br>
    <meta itemprop="reservationId" content="{{ participant.id }}"/>
    <small itemprop="bookingTime" content="{{ participant.createdDateTime|date("c") }}">
        ({{ participant.createdDateTime|date("j. n. Y, H:i") }})
    </small>
    {% if participant.createdDateTime|date("c") != participant.updatedDateTime|date("c") %}
        <br><small>(poslední změna {{ participant.updatedDateTime|date("j. n. Y, H:i") }})</small>
    {% endif %}
</li>
<li itemprop="underName" itemscope itemtype="http://schema.org/Person">
    <b><span itemprop="name">{{ participant.contact.fullName }}</span></b><br>
    <small itemprop="email">({{ participant.contact.email }})</small>
</li>
<li>
    <b>Typ: </b> {{ participant.participantType.name|default('neuveden') }}
</li>
<li>
    <b>Cena celkem: </b> {{ participant.price }},- Kč
    <br>
    <small><b>Záloha:</b> {{ participant.priceDeposit }},- Kč</small>
    <br>
    <small><b>Doplatek:</b> {{ participant.priceRest }},- Kč</small>
    {% if participant.variableSymbol %}<br>
        <small><b>Variabilní symbol:</b> {{ participant.variableSymbol }}</small>{% endif %}
    {% if participant.event.bankAccountComplete %}<br>
        <small><b>Číslo účtu:</b> {{ participant.event.bankAccountComplete }}</small>
    {% endif %}
</li>
<li>
    <b>Zaplaceno:</b>&nbsp;{{ participant.paidPrice }},-&nbsp;Kč<br>
    <small><b>Zbývá:</b>&nbsp;{{ participant.remainingPrice }},-&nbsp;Kč</small>
</li>
<li>
    <b>{{ participant.event.name }}</b><br>
    <small>
        (od {{ participant.event.startDate|date("j. n. Y H:i")|default('neuvedeno') }}
        do {{ participant.event.endDate|date("j. n. Y H:i")|default('neuvedeno') }})
    </small>
</li>
{% for study in participant.contact.studies|filter(s => s.name|default|length > 0) %}
    <li>
        {{ study.organization.name }}
    </li>
{% endfor %}
{% for flagConnection in participant.participantFlagConnections %}
    <li>
        {{ flagConnection.eventParticipantFlag.name|default }}
        {% if flagConnection.textValue|default|length > 0 %}
            ({{ flagConnection.textValue }})
        {% endif %}
        {% if flagConnection.eventParticipantFlag.price|default(0) != 0 %}
            <small>
                <b>
                    ({{ flagConnection.eventParticipantFlag.price > 0 ? '+' : '' }}{{ flagConnection.eventParticipantFlag.price }},- Kč)
                </b>
            </small>
        {% endif %}
    </li>
{% endfor %}
{% for detail in participant.contact.details|filter(detail => detail.content|default|length > 0) %}
    <li>
        {{ detail.typeName|default('Kontakt') }}: {{ detail.content }}
    </li>
{% endfor %}
{% for note in participant.participantNotes|filter(note => note.textValue|default|length > 0) %}
    <li>
        <b>Poznámka:</b>
        <p>
            <small>{{ note.textValue }}</small>
        </p>
    </li>
{% endfor %}
