<meta itemprop="name" content="{{ event.name }}"/>
<link itemprop="url" href="{{ absolute_url(path('zakjakub_oswis_calendar_web_event', {'slug': event.slug})) }}"/>
<meta itemprop="startDate" content="{{ event.startDate|date("c") }}"/>
<meta itemprop="endDate" content="{{ event.endDate|date("c") }}"/>
{% if event.location is defined and event.location %}
    <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
        {% if event.location.name is defined and event.location.name %}
            <meta itemprop="name" content="{{ event.location.name }}"/>
        {% endif %}
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            {% if event.location.name is defined and event.location.name %}
                <meta itemprop="name" content="{{ event.location.name }}"/>
            {% endif %}
            {% if event.location.streetAddress is defined and event.location.streetAddress %}
                <meta itemprop="streetAddress" content="{{ event.location.streetAddress }}"/>
            {% endif %}
            {% if event.location.city is defined and event.location.city %}
                <meta itemprop="addressLocality" content="{{ event.location.city }}"/>
            {% endif %}
            {% if event.location.postalCode is defined and event.location.postalCode %}
                <meta itemprop="postalCode" content="{{ event.location.postalCode }}"/>
            {% endif %}
            {% if event.location.city is defined and event.location.city %}
                <meta itemprop="addressRegion" content="{{ event.location.city }}"/>
            {% endif %}
            {% if event.location.url is defined and event.location.url %}
                <!--suppress HtmlUnknownAttribute -->
                <meta itemprop="url" href="{{ event.location.url }}" content="{{ event.location.url }}"/>
            {% endif %}
            <meta itemprop=Country" content="CZ"/>
        </div>
    </div>
{% endif %}
{% if event.organizer is defined and event.organizer.contact is defined %}
    <div itemprop="performer" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ event.organizer.contact.name|default('') }}"/>
        <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg'))|default('') }}"/>
        <!--<link itemprop="image" href="https://www.seznamovakup.cz/img/web/og-image.jpg"/>-->
    </div>
{% endif %}
