<h2>Shrnutí {{ f ? 'Vaší' : 'Tvé' }} {{ participant.deleted|default ? 'zrušené' : '' }} přihlášky</h2>

<h3>Základní údaje</h3>
<ul>
    <li>
        ID přihlášky: <span itemprop="reservationNumber">{{ participant.id }}</span>
        <meta itemprop="reservationId" content="{{ participant.id }}"/>
    </li>
    <li>
        <span itemprop="bookingTime" content="{{ participant.createdAt|date("c") }}">{{ participant.createdAt|date("j. n. Y, H:i") }}</span>
        {% if participant.createdAt|date("c") != participant.updatedAt|date("c") %}
            <small> (poslední změna {{ participant.updatedAt|date("j. n. Y, H:i") }})</small>
        {% endif %}
    </li>
    {% if participant.deleted|default %}
        <li style="color: red; font-weight: bold;">
            <strong>Přihláška byla zrušena {{ participant.deleted|date("j. n. Y, H:i") }}</strong>
        </li>
    {% endif %}
</ul>

<h3>Účastník</h3>
<ul>
    <li itemprop="underName" itemscope itemtype="http://schema.org/Person">
        <b><span itemprop="name">{{ participant.contact.fullName }}</span> </b>
        <small itemprop="email"> ({{ participant.contact.email }})</small>
    </li>
    {% if not participant.participantCategory(false).defaultType %}
        <li>Typ přihlášky: {{ participant.participantCategory(false).name|default('neuveden') }}</li>
    {% endif %}
    <li>
        <b>Cena celkem: {{ participant.price }},- Kč</b><br>
        <small>V ceně jsou již započteny případné příplatky a slevy vyplývající z nastavení přihlášky.</small>
    </li>
    <li><small>Záloha: {{ participant.depositValue }},- Kč + Doplatek: {{ participant.priceRest }},- Kč</small></li>
    <li>
        {% if participant.variableSymbol|default %}
            <small><b>Variabilní symbol:</b> {{ participant.variableSymbol }}</small>
        {%- endif -%}
        {{- participant.variableSymbol|default and participant.event(false).bankAccount(true).full|default ? ', ' : '' }}
        {% if participant.event(false).bankAccount(true).full|default %}
            <small><b>Číslo účtu:</b> {{ participant.event(false).bankAccount(true).full }}</small>
        {% endif %}
    </li>
    <li>
        Zaplaceno:&nbsp;{{ participant.paidPrice }},-&nbsp;Kč,
        <b>Zbývá:&nbsp;{{ participant.remainingPrice }},-&nbsp;Kč</b>
    </li>
    {% if participant.payments|length > 0 %}
        <li>
            <strong>Platby:</strong>
            <ul>
                {% for payment in participant.payments %}
                    <li>
                        {{ payment.numericValue|default('0') }},- Kč
                        <small>[{{ payment.date|date("j. n. Y") }}]</small>
                        {% if payment.type %}<small>[{{ payment.type }}]</small>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>

<h3>Událost</h3>
<ul>
    <li>
        <b>
            <a href="{{ absolute_url(path('oswis_org_oswis_calendar_web_event', {'eventSlug': participant.event(false).slug})) }}" target="_blank">
                {{ participant.event(false).name }}
            </a>
        </b>
    </li>
    <li>
        <small>
            (od {{ participant.event(false).startDate|date("j. n. Y H:i")|default('neuvedeno') }}
            do {{ participant.event(false).endDate|date("j. n. Y H:i")|default('neuvedeno') }})
        </small>
    </li>
    {% if participant.event(false).place(true)|default %}
        {% set place = participant.event(false).place(true) %}
        <li>
            {% if place.url|default %}
                <a href="{{ place.url }}" title="{{ place.name }}" target="_blank">{{ place.name }}</a>
            {% else %}
                {{ place.name }}
            {% endif %}
        </li>
    {% endif %}
    {% if participant.event(false).organizer.contact|default %}
        {% set org = participant.event(false).organizer.contact %}
        <li>
            {% if org.url|default %}
                <a href="{{ absolute_url(path('oswis_org_oswis_address_book_organization', {'slug': org.slug|default})) }}" target="_blank">
                    {{ org.name }}
                </a>
            {% else %}
                {{ org.name }}
            {% endif %}
        </li>
    {% endif %}

</ul>

<h3>Kontaktní údaje</h3>
<ul>
    {% for detail in participant.contact.details|filter(detail => detail.content|default|length > 0) %}
        <li>{{ detail.categoryName|default('Kontakt') }}: {{ detail.content }}</li>
    {% endfor %}
</ul>

{% if participant.flagGroups|filter(flagGroup => flagGroup.participantFlags|length >= 0)|length >= 0 %}
    <h3>Další informace <small>(příznaky přihlášky)</small></h3>
    <ul>
        {% for participantFlagGroup in participant.flagGroups(null, null)|filter(flagGroup => flagGroup.participantFlags|length >= 0) %}
            <li style="color: {{ participantFlagGroup.flagCategory.color|default('inherit') }}">
                <span style="{{ participantFlagGroup.deleted ? 'text-decoration:line-through;' : '' }}">{{ participantFlagGroup.flagGroupRange.name|default('Ostatní příznaky') }}</span>
                (ID {{ participantFlagGroup.id }}, rozsah {{ participantFlagGroup.flagGroupRange.id }})
                {% if participantFlagGroup.deletedAt %}
                    [SMAZÁNO {{ participantFlagGroup.deletedAt|date("j. n. Y H:i") }}]
                {% endif %}
                <ul style="font-size: small;">
                    {% for participantFlag in participantFlagGroup.participantFlags %}
                        <li style="color: {{ participantFlag.flag.color|default('inherit') }}">
                            <span  style="{{ participantFlagGroup.deleted ? 'text-decoration:line-through;' : '' }}">{{ participantFlag.flagRange.name|default }}</span>
                            {% if participantFlag.textValue|default|length > 0 %}
                                ({{ participantFlag.textValue }})
                            {% endif %}
                            {% if participantFlag.flagRange.price|default(0) != 0 %}
                                <b>({{ participantFlag.flagRange.price > 0 ? '+' : '' }}{{ participantFlag.flagRange.price }},- Kč )</b>
                            {% endif %}
                            (ID {{ participantFlag.id }}, rozsah {{ participantFlag.flagRange.id }})
                            {% if participantFlag.deletedAt %}
                                [SMAZÁNO {{ participantFlag.deletedAt|date("j. n. Y H:i") }}]
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if participant.notes|filter(note => note.textValue|default|length > 0)|length > 0 %}
    <h3>Poznámky</h3>
    <ul>
        {% for note in participant.notes|filter(note => note.textValue|default|length > 0) %}
            <li><p><small>{{ note.textValue }}</small></p></li>
        {% endfor %}
    </ul>
{% endif %}
