{% set isInternal = isInternal|default(false) %}

{% set participantRegistrations = participant.participantRegistrations(false, false) %}
{% set activeEvent = participant.event(false)|default %}

<h2>Shrnutí {{ f ? 'Vaší' : 'Tvé' }} {{ participant.deletedAt|default ? 'zrušené' : '' }} přihlášky</h2>

<h3>Základní údaje</h3>
<ul>
    <li>
        ID přihlášky: <span itemprop="reservationNumber" style="font-weight:bold;">{{ participant.id }}</span>,
        <meta itemprop="reservationId" content="{{ participant.id }}"/>
        <small itemprop="bookingTime"
               content="{{ participant.createdAt|date("c") }}">{{ participant.createdAt|date("j. n. Y, H:i") }}</small>
        {% if participant.createdAt|date("c") != participant.updatedAt|date("c") %}
            <small>, poslední změna {{ participant.updatedAt|date("j. n. Y, H:i") }}</small>
        {% endif %}
    </li>
    {% if participant.deletedAt|default %}
        <li style="color: red; font-weight: bold;">
            <strong>Přihláška byla zrušena {{ participant.deletedAt|date("j. n. Y, H:i") }}</strong>
        </li>
    {% endif %}
</ul>

<h3>Účastník</h3>
<ul>
    {% for participantContact in participant.participantContacts(false, false) %}
        {% if participantContact.active %}
            <li itemprop="underName" itemscope itemtype="http://schema.org/Person">
                <b><span itemprop="name">{{ participant.contact.name }}</span> </b>
                <small itemprop="email"> ({{ participant.contact.email }})</small>
            </li>
        {% else %}
            <li style="text-decoration: line-through; color: grey;">
                <b><span>{{ participant.contact.name }}</span> </b><small> ({{ participant.contact.email }})</small>
            </li>
        {% endif %}
    {% endfor %}
    {% for registration in participantRegistrations|filter(registration => not registration.participantCategory.defaultType) %}
        <li style="{{ registration.deletedAt ? 'text-decoration: line-through; color: grey;' : '' }}">
            Typ přihlášky: {{ participant.participantCategory.name|default('neuveden') }}
        </li>
    {% endfor %}
    <li>
        <b>Cena celkem: {{ participant.price }},- Kč</b>
        <small style="color:grey;"> (záloha {{ participant.depositValue }},- Kč + doplatek: {{ participant.priceRest }}
            ,- Kč)</small>
        <br>
        <small style="color:grey;">V ceně jsou již započteny případné příplatky a slevy vyplývající z nastavení
            přihlášky.</small>
    </li>
    <li>
        {% if participant.variableSymbol|default %}
            <small><b>Variabilní symbol:</b> {{ participant.variableSymbol }}</small>
        {%- endif -%}
        {{- participant.variableSymbol|default and activeEvent.bankAccount(true).full|default ? ', ' : '' }}
        {% if activeEvent.bankAccount(true).full|default %}
            <small><b>Číslo účtu:</b> {{ activeEvent.bankAccount(true).full }}</small>
        {% endif %}
    </li>
    <li>
        Zaplaceno:&nbsp;{{ participant.paidPrice }},-&nbsp;Kč,
        <b>Zbývá:&nbsp;{{ participant.remainingPrice }},-&nbsp;Kč</b>
    </li>
    {% if participant.payments|length > 0 %}
        <li>
            <strong>Platby:</strong>
            <ul>
                {% for payment in participant.payments %}
                    <li>
                        {{ payment.numericValue|default('0') }},- Kč
                        <small>[{{ payment.dateTime|date("j. n. Y") }}]</small>
                        {% if payment.type %}<small> [{{ payment.type }}]</small>{% endif %}
                        {% if payment.note|default|length > 0 %}
                            <br><small style="color: darkgrey;">{{ payment.note }}</small>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>

<h3>Událost</h3>
<ul>
    {% for registration in registrations %}
        <li style="{{ registration.deletedAt ? 'text-decoration: line-through; color: grey;' : '' }}">
            <b>
                <a href="{{ absolute_url(path('oswis_org_oswis_calendar_web_event', {'eventSlug': registration.event.slug|default})) }}"
                   target="_blank">
                    {{ registration.event.name|default }}
                </a>
            </b>
        </li>
    {% endfor %}
    <li>
        od {{ activeEvent.startDate|date("j. n. Y H:i")|default('neuvedeno') }}
        do {{ activeEvent.endDate|date("j. n. Y H:i")|default('neuvedeno') }}
    </li>
    {% if activeEvent.place(true)|default %}
        {% set place = activeEvent.place(true) %}
        <li>
            {% if place.url|default %}
                <a href="{{ place.url }}" title="{{ place.name }}" target="_blank">{{ place.name }}</a>
            {% else %}
                {{ place.name }}
            {% endif %}
        </li>
    {% endif %}
    {% if activeEvent.organizer.contact|default %}
        {% set org = activeEvent.organizer.contact %}
        <li>
            {% if org.url|default %}
                <a href="{{ absolute_url(path('oswis_org_oswis_address_book_organization', {'slug': org.slug|default})) }}"
                   target="_blank">
                    {{ org.name }}
                </a>
            {% else %}
                {{ org.name }}
            {% endif %}
        </li>
    {% endif %}
</ul>

<h3>Kontaktní údaje</h3>
<ul>
    {% for detail in participant.contact.details|filter(detail => detail.content|default|length > 0) %}
        <li style="{{ detail.deletedAt|default ? 'text-decoration: line-through; color: grey;' : '' }}">
            {{ detail.categoryName|default('Kontakt') }}: {{ detail.content }}
        </li>
    {% endfor %}
</ul>

{% if participant.flagGroups|filter(flagGroup => flagGroup.participantFlags|length >= 0)|length > 0 %}
    <h3>Další informace <small>(příznaky přihlášky)</small></h3>
    <ul>
        {% for participantFlagGroup in participant.flagGroups(null, null)|filter(flagGroup => flagGroup.participantFlags|length > 0) %}
            <li style="color: {{ participantFlagGroup.flagCategory.color|default('inherit') }}"
                title="ID přiřazení skupiny {{ participantFlagGroup.id }}, ID rozsahu skupiny {{ participantFlagGroup.flagGroupOffer.id }}">
                <span style="{{ participantFlagGroup.deletedAt ? 'text-decoration:line-through;' : '' }}">{{ participantFlagGroup.flagGroupOffer.name|default('Ostatní příznaky') }}</span>
                {% if participantFlagGroup.deletedAt %}
                    <span style="color:red;font-weight:bold;"
                          title="SMAZÁNO {{ participantFlagGroup.deletedAt|date("j. n. Y H:i") }}">
                        [SMAZÁNO]
                    </span>
                {% endif %}
                <ul style="font-size: small;">
                    {% for participantFlag in participantFlagGroup.participantFlags %}
                        <li style="color: {{ participantFlag.flag.color|default('inherit') }}"
                            title="ID přiřazení {{ participantFlag.id }}, ID rozsahu {{ participantFlag.flagOffer.id }}">
                            <span style="{{ participantFlag.deletedAt ? 'text-decoration:line-through;' : '' }}">{{ participantFlag.flagOffer.name|default }}</span>
                            {% if participantFlag.flagOffer.price|default(0) != 0 %}
                                <span style="font-weight:bold;{{ participantFlag.deletedAt ? 'text-decoration:line-through;' : '' }}">
                                    [{{ participantFlag.flagOffer.price > 0 ? '+' : '' }}{{ participantFlag.flagOffer.price }},- Kč]
                                </span>
                            {% endif %}
                            {% if participantFlag.deletedAt|default %}
                                <strong style="font-weight:bold;color:red;"
                                        title="SMAZÁNO {{ participantFlag.deletedAt|date("j. n. Y H:i") }}">
                                    [SMAZÁNO]
                                </strong>
                            {% endif %}
                            {% if participantFlag.textValue|default|length > 0 %}
                                <ul>
                                    <li title="{{ participantFlag.textValue|default }}">
                                        {{ participantFlag.textValue|default|u.truncate(50, '...') }}
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if participant.notes|filter(note => note.textValue|default|length > 0)|length > 0 %}
    <h3>Poznámky</h3>
    <ul>
        {% for note in participant.notes|filter(note => note.textValue|default|length > 0) %}
            <li><p><small>{{ note.textValue }}</small></p></li>
        {% endfor %}
    </ul>
{% endif %}
