{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% block html_title %}{{ title }}{% endblock %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row">
            <div class="col">
                <h2>{{ title }}</h2>

                <nav class="m-3">
                    {% for tab in filterTabs %}
                        <a href="{{ tab.url }}"
                           class="btn btn-sm {{ tab.active ? 'btn-primary' : 'btn-outline-primary' }}">
                            {{ tab.label }}
                        </a>
                    {% endfor %}
                </nav>

                <table class="list">
                    {% include '@OswisOrgOswisCalendar/other/payments-list/parts/payments-list-head.html.twig'
                        with { 'isAdmin': true } %}
                    {% for payment in payments %}
                        {% include '@OswisOrgOswisCalendar/other/payments-list/parts/payments-list-inner.html.twig'
                            with { 'isAdmin': true } %}
                    {% else %}
                        <tbody>
                        <tr>
                            <td colspan="4" class="text-center bold">Žádné platby v tomto filtru.</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}
