{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Přijetí/vrácení/oprava platby') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock %}

{% block content_inner %}
    <p>
        Právě jsme úspěšně zpracovali
        {% if payment.numericValue < 0 %}
            navrácení/zrušení/opravu {{ f ? 'Vaší' : 'Tvé' }} platby
        {% else %}
            {{ f ? 'Vaši' : 'Tvou' }} platbu
        {% endif %}
        ve výši <strong>{{ payment.numericValue }},- Kč</strong> ze dne {{ payment.date|dateTime("j. n. Y") }}
        u události {{ payment.eventParticipant.event.name }}.
    </p>

    {% block message_payment_outer %}
        {% if payment.eventParticipant.priceDeposit > 0 or payment.eventParticipant.priceRest > 0 %}
            <p>
                Celkem zbývá uhradit ještě částku ve&nbsp;výši <b>{{ payment.eventParticipant.priceDeposit }},-&nbsp;Kč</b>, a&nbsp;to
                {% if payment.eventParticipant.event.bankAccountComplete %}
                    na&nbsp;účet&nbsp;<b>{{ payment.eventParticipant.event.bankAccountComplete }}</b>
                    s&nbsp;variabilním symbolem <b>{{ payment.eventParticipant.variableSymbol }}</b>.
                    Samozřejmě počítáme s&nbsp;tím, že&nbsp;převod může pár dní trvat. :)
                {% else %}
                    dle údajů uvedených na webových stránkách.
                {% endif %}
            </p>

            {% if payment.eventParticipant.priceDeposit > 0 %}
                <p>
                    <b>Zbytek zálohy</b> ve&nbsp;výši <b>{{ payment.eventParticipant.priceDeposit }},-&nbsp;Kč</b> zašl{{ f ? 'ete' : 'i' }}, prosím,
                    úplně stejným způsobem{% block message_payment_deposit_date %}{% endblock message_payment_deposit_date %}.
                </p>
            {% endif %}

            {% if payment.eventParticipant.priceRest > 0 %}
                <p>
                    <b>Doplatek</b> ve&nbsp;výši <b>{{ payment.eventParticipant.priceRest }},-&nbsp;Kč</b> zašl{{ f ? 'ete' : 'i' }}, prosím,
                    úplně stejným způsobem{% block message_payment_rest_date %}{% endblock message_payment_rest_date %}.
                </p>
            {% endif %}

            {% if payment.eventParticipant.priceDeposit > 0 and payment.eventParticipant.priceRest > 0 %}
                <p>
                    Zbytek zálohy i doplatek můžeš zaplatit i v&nbsp;jedné společné platbě, potom jde o&nbsp;částku
                    <span itemprop="totalPrice">{{ payment.eventParticipant.price }}</span>,-&nbsp;
                    <span itemprop="priceCurrency" content="CZK">Kč</span>.
                </p>
            {% endif %}
        {% endif %}
    {% endblock message_payment_outer %}

{% endblock content_inner %}


