{% extends '@OswisOrgOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Shrnutí přihlášky') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/Confirmed"/>
        <meta itemprop="modifiedTime" content="{{ eventParticipant.lastRevisionDateTime|date('c') }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ eventParticipant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ eventParticipant.id }}"/>
        <meta itemprop="numSeats" content="1"/>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if isOrganization %}
                        Vaše organizace {{ eventParticipant.contact.name }} byl{{ a }} úspěšně přihlášen{{ a }} na&nbsp;akci <b>{{ eventParticipant.event.name }}</b>.
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }} úspěšně přihlášen{{ a }} na&nbsp;akci <b>{{ eventParticipant.event.name }}</b>.
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        {% block message_app_user %}
            {% if appUser is defined and appUser %}
                <p>
                    Uživatelské jméno u {{ f ? 'Vašeho' : 'Tvého' }} uživatelského účtu je
                    <b>{{ appUser.username ? appUser.username : appUser.email }}</b>
                    a hlavní e-mail je nastaven na <b>{{ appUser.email }}</b>.
                    {% if password is defined and password %}
                        Bylo nastaveno nové, náhodně vygenerované, heslo <b>{{ password }}</b>.
                    {% endif %}
                    {% if portal is defined and portal %}
                        Přihlašovací údaje slouží pro přihlášení do aplikace {{ portal }}, která bude již brzy dostupná na adrese
                        <a href="{{ absolute_url(path('oswis_org_oswis_core_web_portal')) }}" title="{{ portal }}" target="_blank">
                            {{ absolute_url(path('oswis_org_oswis_core_web_portal')) }}
                        </a>.
                    {% endif %}
                </p>
            {% endif %}
        {% endblock message_app_user %}

        {% block message_payment_outer %}
            {% if eventParticipant.priceDeposit > 0 or eventParticipant.priceRest > 0 %}
                <p>
                    Nyní {{ f ? 'Vás' : 'Tě' }} poprosíme o&nbsp;zaplacení zálohy ve&nbsp;výši <b>{{ eventParticipant.priceDeposit }},-&nbsp;Kč</b>,
                    a&nbsp;to {% block message_payment_deposit_date %}{% endblock message_payment_deposit_date %}
                    {% if event.bankAccountComplete %}
                        na&nbsp;účet&nbsp;<b>{{ event.bankAccountComplete }}</b> s&nbsp;variabilním symbolem <b>{{ eventParticipant.variableSymbol }}</b>.
                        Samozřejmě počítáme s&nbsp;tím, že&nbsp;převod může pár dní trvat. :)
                    {% else %}
                        dle údajů uvedených na webových stránkách.
                    {% endif %}
                </p>

                {% if eventParticipant.priceRest > 0 %}
                    <p>
                        <b>Doplatek</b> ve&nbsp;výši <b>{{ eventParticipant.priceRest }},-&nbsp;Kč</b> zašl{{ f ? 'ete' : 'i' }}, prosím,
                        úplně stejným způsobem{% block message_payment_rest_date %}{% endblock message_payment_rest_date %}.
                    </p>
                {% endif %}

                {% if eventParticipant.priceDeposit > 0 and eventParticipant.priceRest > 0 %}
                    <p>
                        Zálohu i doplatek můžeš zaplatit i v&nbsp;jedné společné platbě, potom jde o&nbsp;částku
                        <span itemprop="totalPrice">{{ eventParticipant.price }}</span>,-&nbsp;<span itemprop="priceCurrency" content="CZK">Kč</span>.
                    </p>
                {% endif %}
            {% endif %}
        {% endblock message_payment_outer %}

        {% include '@OswisOrgOswisCalendar/other/summary/event-participant-summary.html.twig' %}
        {% include '@OswisOrgOswisCalendar/other/qr-payment/event-participant-qr-payment.html.twig' %}
        <div itemprop="reservationFor" itemscope itemtype="http://schema.org/Event">
            {% include '@OswisOrgOswisCalendar/other/summary/event-summary.html.twig' %}
        </div>
        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_core_homepage_action')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_core_homepage_action')) }}"/>

        {% block message_footer %}
            <p>Pokud zpráva přišla opakovaně, přihláška byla aktualizována uživatelem nebo správcem.</p>
            <p>Před akcí očekávej ještě další informační e-mail s upřesněním podrobností.</p>
        {% endblock message_footer %}
    </div>
{% endblock %}




