{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Shrnutí přihlášky') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/Confirmed"/>
        <meta itemprop="modifiedTime" content="{{ eventParticipant.lastRevisionDateTime|date('c') }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ eventParticipant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ eventParticipant.id }}"/>
        <meta itemprop="numSeats" content="1"/>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if isOrganization %}
                        Vaše organizace {{ eventParticipant.contact.name }} byl{{ a }} úspěšně přihlášen{{ a }} na&nbsp;akci <b>{{ eventParticipant.event.name }}</b>.
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }} úspěšně přihlášen{{ a }} na&nbsp;akci <b>{{ eventParticipant.event.name }}</b>.
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        {% block message_app_user %}
            {% if appUser is defined and appUser %}
                <p>
                    Uživatelské jméno u {{ f ? 'Vašeho' : 'Tvého' }} uživatelského účtu je
                    <b>{{ appUser.username ? appUser.username : appUser.email }}</b>
                    a hlavní e-mail je nastaven na <b>{{ appUser.email }}</b>.
                    {% if password is defined and password %}
                        Bylo nastaveno nové, náhodně vygenerované, heslo <b>{{ password }}</b>.
                    {% endif %}
                    {% if portal is defined and portal %}
                        Přihlašovací údaje slouží pro přihlášení do aplikace {{ portal }}, která bude již brzy dostupná na adrese
                        <a href="{{ absolute_url(path('portal')) }}" title="{{ portal }}" target="_blank">{{ absolute_url(path('portal')) }}</a>.
                    {% endif %}
                </p>
            {% endif %}
        {% endblock message_app_user %}

        {% block message_payment_outer %}
            {% if eventParticipant.priceDeposit > 0 or eventParticipant.priceRest > 0 %}
                <p>
                    Nyní {{ f ? 'Vás' : 'Tě' }} poprosíme o&nbsp;zaplacení zálohy ve&nbsp;výši <b>{{ eventParticipant.priceDeposit }},-&nbsp;Kč</b>,
                    a&nbsp;to {% block message_payment_deposit_date %}{% endblock message_payment_deposit_date %}
                    {% if event.bankAccountComplete %}
                        na&nbsp;účet&nbsp;<b>{{ event.bankAccountComplete }}</b> s&nbsp;variabilním symbolem <b>{{ eventParticipant.variableSymbol }}</b>.
                        Samozřejmě počítáme s&nbsp;tím, že&nbsp;převod může pár dní trvat. :)
                    {% else %}
                        dle údajů uvedených na webových stránkách.
                    {% endif %}
                </p>

                {% if eventParticipant.priceRest > 0 %}
                    <p>
                        <b>Doplatek</b> ve&nbsp;výši <b>{{ eventParticipant.priceRest }},-&nbsp;Kč</b> zašl{{ f ? 'ete' : 'i' }}, prosím,
                        úplně stejným způsobem{% block message_payment_rest_date %}{% endblock message_payment_rest_date %}.
                    </p>
                {% endif %}

                {% if eventParticipant.priceDeposit > 0 and eventParticipant.priceRest > 0 %}
                    <p>
                        Zálohu i doplatek můžeš zaplatit i v&nbsp;jedné společné platbě, potom jde o&nbsp;částku
                        <span itemprop="totalPrice">{{ eventParticipant.price }}</span>,-&nbsp;<span itemprop="priceCurrency" content="CZK">Kč</span>.
                    </p>
                {% endif %}
            {% endif %}
        {% endblock message_payment_outer %}

        <!--suppress HtmlUnknownAttribute -->
        <h3 color='#006FAD' style='color:#006FAD;font-size:1.4em;font-weight:bold;margin-top:0.7em;'>
            Shrnutí {{ f ? 'Vaší' : 'Tvé' }} přihlášky
        </h3>
        <ul>
            <li>
                ID přihlášky: <span itemprop="reservationNumber">{{ eventParticipant.id }}</span><br>
                <meta itemprop="reservationId" content="{{ eventParticipant.id }}"/>
                <small itemprop="bookingTime" content="{{ eventParticipant.createdDateTime|date("c") }}">
                    ({{ eventParticipant.createdDateTime|date("j. n. Y, H:i") }})
                </small>
                {% if eventParticipant.createdDateTime|date("c") != eventParticipant.updatedDateTime|date("c") %}
                    <br><small>(změna {{ eventParticipant.updatedDateTime|date("j. n. Y, H:i") }})</small>
                {% endif %}
            </li>
            <li itemprop="underName" itemscope itemtype="http://schema.org/Person">
                <b><span itemprop="name">{{ eventParticipant.contact.fullName }}</span></b><br>
                <small itemprop="email">({{ eventParticipant.contact.email }})</small>
            </li>
            <li>
                <b>Typ: </b> {{ eventParticipant.eventParticipantType.name }}
            </li>
            <li>
                <b>Cena celkem: </b> {{ eventParticipant.price }},- Kč
                <br>
                <small><b>Záloha:</b> {{ eventParticipant.priceDeposit }},- Kč</small>
                <br>
                <small><b>Doplatek:</b> {{ eventParticipant.priceRest }},- Kč</small>
                {% if eventParticipant.variableSymbol %}<br>
                    <small><b>Variabilní symbol:</b> {{ eventParticipant.variableSymbol }}</small>{% endif %}
                {% if bankAccount %}<br>
                    <small><b>Číslo účtu:</b> {{ bankAccount }}</small>{% endif %}
            </li>
            <li>
                <b>{{ event.name }}</b><br>
                <small>
                    (od {{ event.startDate|date("j. n. Y H:i")|default('neuvedeno') }}
                    do {{ event.endDate|date("j. n. Y H:i")|default('neuvedeno') }})
                </small>
            </li>
            {% for study in eventParticipant.contact.studies %}
                <li>
                    {{ study.organization.name }}
                </li>
            {% endfor %}
            {% for flagConnection in eventParticipant.eventParticipantFlagConnections %}
                <li>
                    {{ flagConnection.eventParticipantFlag.name }}
                    {% if flagConnection.textValue and flagConnection.textValue|length > 0 %}
                        ({{ flagConnection.textValue }})
                    {% endif %}
                    {% if flagConnection.eventParticipantFlag.price is defined and flagConnection.eventParticipantFlag.price and flagConnection.eventParticipantFlag.price != 0 %}
                        <small>
                            <b>
                                ({{ flagConnection.eventParticipantFlag.price > 0 ? '+' : '' }}{{ flagConnection.eventParticipantFlag.price }},- Kč)
                            </b>
                        </small>
                    {% endif %}
                </li>
            {% endfor %}
            {% if eventParticipant.contact.contactDetails is defined and eventParticipant.contact.contactDetails %}
                {% for contactDetail in eventParticipant.contact.contactDetails %}
                    {% if contactDetail.content|length > 0 %}
                        <li>
                            {% if contactDetail.contactType is defined and contactDetail.contactType.name is defined and contactDetail.contactType.name %}
                                {{ contactDetail.contactType.name }}:
                            {% else %}
                                Kontakt:
                            {% endif %}
                            {{ contactDetail.content }}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if eventParticipant.eventParticipantNotes is defined and eventParticipant.eventParticipantNotes %}
                {% for note in eventParticipant.eventParticipantNotes %}
                    {% if note.textValue|length > 0 %}
                        <li>Poznámka:
                            <p>
                                <small>{{ note.textValue }}</small>
                            </p>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>

        {% if depositQr or restQr %}
            <div style="display:block;width: 100%;margin: 0; padding: 0;overflow: auto;">
                <div style='display:table;page-break-inside:avoid; float:left;width:65%;margin:1em 20%;margin-right:30%;height:auto;max-height:550px;padding:0.8em;max-width:600px;margin-bottom:1.5em;padding-bottom:0;vertical-align:middle;border:3px solid #006FAD;'>
                    <div style='page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;width:500px;margin:0 auto;padding:5px; width:95%; height:auto; max-height:720px; min-width:220px; max-width: 650px;text-align:center;vertical-align:middle;'>
                        <small style='page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;display:block;width:100%;overflow:hidden;'>
                            Pro zaslání zálohy i&nbsp;doplatku můžeš použít
                            <b><a href='http://qr-platba.cz/pro-uzivatele/' title='Co je QR platba?' target='_blank'>QR&nbsp;platbu</a></b>.
                            <br>Naskenuj kód do&nbsp;aplikace tvé&nbsp;banky a&nbsp;všechny údaje se ti předvyplní.
                        </small>
                        <div style='page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;width:50%;float:left;margin:0;margin-top:0.5em;padding:0;text-align:center;vertical-align:middle;'>
                            <b style='page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;margin:0;padding:0;'>
                                <small style='font-size:0.8em;margin:0;padding:0;'>Záloha</small>
                            </b>
                            <img src='{{ depositQr }}' alt='Záloha - QR Platba' title='Záloha - QR Platba'
                                 style='page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;width:99%; margin:0 auto;padding:0;margin-bottom:0.5em;'>
                        </div>
                        <div style='width:50%;float:left;margin:0;margin-top:0.5em;padding:0;text-align:center;vertical-align:middle;page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;'>
                            <b style='margin:0;padding:0;'>
                                <small style='font-size:0.8em;margin:0;padding:0;page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;'>Doplatek</small>
                            </b>
                            <img src='{{ restQr }}' alt='Doplatek - QR Platba' title='Doplatek - QR Platba'
                                 style='width:99%;page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid; margin:0 auto;padding:0;margin-bottom:0.5em;'>
                        </div>
                        <b style='page-break-inside:avoid;page-break-before:avoid;page-break-after:avoid;display:block;width:100%;overflow:hidden;font-size:1.6em;'>QR Platba</b>
                    </div>
                </div>
            </div>
        {% endif %}

        <div itemprop="reservationFor" itemscope itemtype="http://schema.org/Event">
            <meta itemprop="name" content="{{ event.name }}"/>
            <link itemprop="url" href="{{ absolute_url(path('homepage')) }}"/>
            <meta itemprop="startDate" content="{{ event.startDate|date("c") }}"/>
            <meta itemprop="endDate" content="{{ event.endDate|date("c") }}"/>
            {% if event.location is defined and event.location %}
                <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
                    {% if event.location.name is defined and event.location.name %}
                        <meta itemprop="name" content="{{ event.location.name }}"/>
                    {% endif %}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        {% if event.location.name is defined and event.location.name %}
                            <meta itemprop="name" content="{{ event.location.name }}"/>
                        {% endif %}
                        {% if event.location.streetAddress is defined and event.location.streetAddress %}
                            <meta itemprop="streetAddress" content="{{ event.location.streetAddress }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressLocality" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.postalCode is defined and event.location.postalCode %}
                            <meta itemprop="postalCode" content="{{ event.location.postalCode }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressRegion" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.url is defined and event.location.url %}
                            <!--suppress HtmlUnknownAttribute -->
                            <meta itemprop="url" href="{{ event.location.url }}" content="{{ event.location.url }}"/>
                        {% endif %}
                        <meta itemprop=Country" content="CZ"/>
                    </div>
                </div>
            {% endif %}
            {% if eventParticipant.event.organizer is defined and eventParticipant.event.organizer.contact is defined %}
                <div itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="{{ eventParticipant.event.organizer.contact.name|default('') }}"/>
                    <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg'))|default('') }}"/>
                    <!--<link itemprop="image" href="https://www.seznamovakup.cz/img/web/og-image.jpg"/>-->
                </div>
            {% endif %}
        </div>
        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('homepage')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('homepage')) }}"/>

        {% block message_footer %}
            <p>
                Pokud zpráva přišla opakovaně, přihláška byla aktualizována uživatelem nebo správcem.
            </p>
            <p>
                Před akcí očekávej ještě další informační e-mail s upřesněním podrobností.
            </p>
        {% endblock message_footer %}
    </div>
{% endblock %}




