{% extends '@OswisOrgOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Zrušení přihlášky') }}{% endblock %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/Cancelled"/>
        <meta itemprop="modifiedTime" content="{{ eventParticipant.updatedDateTime|date('c') }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ eventParticipant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ eventParticipant.id }}"/>
        <meta itemprop="numSeats" content="1"/>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if isOrganization %}
                        Vaše organizace {{ eventParticipant.contact.name }} byl{{ a }}
                        {{ eventParticipant.deleted|date("j. n. Y")|default('') }}
                        úspěšně <b>odhlášen{{ a }}</b> z&nbsp;akce <b>{{ eventParticipant.event.name }}</b>.
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }}
                        {{ eventParticipant.deleted|date("j. n. Y")|default('') }}
                        úspěšně <b>odhlášen{{ a }}</b> z&nbsp;akce <b>{{ eventParticipant.event.name }}</b>.
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        <!--suppress HtmlUnknownAttribute -->
        <h3 color='#006FAD' style='color:#006FAD;font-size:1.4em;font-weight:bold;margin-top:0.7em;'>
            Shrnutí {{ f ? 'Vaší' : 'Tvé' }} zrušené přihlášky
        </h3>
        <ul>
            <li>
                ID přihlášky: <span itemprop="reservationNumber">{{ eventParticipant.id }}</span><br>
                <meta itemprop="reservationId" content="{{ eventParticipant.id }}"/>
                <small itemprop="bookingTime" content="{{ eventParticipant.createdDateTime|date("c") }}">
                    ({{ eventParticipant.createdDateTime|date("j. n. Y, H:i") }})
                </small>
                {% if eventParticipant.createdDateTime|date("c") != eventParticipant.updatedDateTime|date("c") %}
                    <br><small>(změna {{ eventParticipant.updatedDateTime|date("j. n. Y, H:i") }})</small>
                {% endif %}
            </li>
            <li itemprop="underName" itemscope itemtype="http://schema.org/Person">
                <b><span itemprop="name">{{ eventParticipant.contact.fullName }}</span></b><br>
                <small itemprop="email">({{ eventParticipant.contact.email }})</small>
            </li>
            <li><b>Typ: </b> {{ eventParticipant.eventParticipantType.name|default('bez názvu') }}</li>
            <li>
                <b>{{ event.name }}</b><br>
                <small>
                    (od {{ event.startDate|date("j. n. Y H:i")|default('neuvedeno') }}
                    do {{ event.endDate|date("j. n. Y H:i")|default('neuvedeno') }})
                </small>
            </li>
        </ul>

        {% include '@OswisOrgOswisCalendar/other/summary/event-summary.html.twig' %}

        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_calendar_web_events')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('oswis_org_oswis_calendar_web_events')) }}"/>

        {% block message_footer %}
            <p>
                Přihláška byla zrušena na základě požadavku na zrušení nebo z důvodu duplicitního odeslání přihlášky.
                Pokud js{{ f ? 'te' : 'i' }} nás o zrušení přihlášky na akci nežádal{{ a }}, tak nás, prosím, kontaktuj{{ f ? 'te' : '' }}.
            </p>
        {% endblock message_footer %}
    </div>
{% endblock %}




