{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Zrušení přihlášky') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/Cancelled"/>
        <meta itemprop="modifiedTime" content="{{ eventParticipant.lastRevisionDateTime|date('c') }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ eventParticipant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ eventParticipant.id }}"/>
        <meta itemprop="numSeats" content="1"/>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if isOrganization %}
                        Vaše organizace {{ eventParticipant.contact.name }} byl{{ a }}
                        {{ eventParticipant.delete|date("j. n. Y")|default('') }}
                        úspěšně <b>odhlášen{{ a }}</b> z&nbsp;akce <b>{{ eventParticipant.event.name }}</b>.
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }}
                        {{ eventParticipant.delete|date("j. n. Y")|default('') }}
                        úspěšně <b>odhlášen{{ a }}</b> z&nbsp;akce <b>{{ eventParticipant.event.name }}</b>.
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        <!--suppress HtmlUnknownAttribute -->
        <h3 color='#006FAD' style='color:#006FAD;font-size:1.4em;font-weight:bold;margin-top:0.7em;'>
            Shrnutí zrušené {{ f ? 'Vaší' : 'Tvé' }} přihlášky
        </h3>
        <ul>
            <li>
                ID přihlášky: <span itemprop="reservationNumber">{{ eventParticipant.id }}</span><br>
                <meta itemprop="reservationId" content="{{ eventParticipant.id }}"/>
                <small itemprop="bookingTime" content="{{ eventParticipant.createdDateTime|date("c") }}">
                    ({{ eventParticipant.createdDateTime|date("j. n. Y, H:i") }})
                </small>
                {% if eventParticipant.createdDateTime|date("c") != eventParticipant.updatedDateTime|date("c") %}
                    <br><small>(změna {{ eventParticipant.updatedDateTime|date("j. n. Y, H:i") }})</small>
                {% endif %}
            </li>
            <li itemprop="underName" itemscope itemtype="http://schema.org/Person">
                <b><span itemprop="name">{{ person.fullName }}</span></b><br>
                <small itemprop="email">({{ person.email }})</small>
            </li>
            <li><b>Typ: </b> {{ eventParticipantType.name }}</li>
            <li>
                <b>{{ event.name }}</b><br>
                <small>
                    (od {{ event.startDate|date("j. n. Y H:i")|default('neuvedeno') }}
                    do {{ event.endDate|date("j. n. Y H:i")|default('neuvedeno') }})
                </small>
            </li>
        </ul>

        <div itemprop="reservationFor" itemscope itemtype="http://schema.org/Event">
            <meta itemprop="name" content="{{ event.name }}"/>
            <link itemprop="url" href="{{ absolute_url(path('homepage')) }}"/>
            <meta itemprop="startDate" content="{{ event.startDate|date("c") }}"/>
            <meta itemprop="endDate" content="{{ event.endDate|date("c") }}"/>
            {% if event.location is defined and event.location %}
                <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
                    {% if event.location.name is defined and event.location.name %}
                        <meta itemprop="name" content="{{ event.location.name }}"/>
                    {% endif %}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        {% if event.location.name is defined and event.location.name %}
                            <meta itemprop="name" content="{{ event.location.name }}"/>
                        {% endif %}
                        {% if event.location.streetAddress is defined and event.location.streetAddress %}
                            <meta itemprop="streetAddress" content="{{ event.location.streetAddress }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressLocality" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.postalCode is defined and event.location.postalCode %}
                            <meta itemprop="postalCode" content="{{ event.location.postalCode }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressRegion" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.url is defined and event.location.url %}
                            <!--suppress HtmlUnknownAttribute -->
                            <meta itemprop="url" href="{{ event.location.url }}" content="{{ event.location.url }}"/>
                        {% endif %}
                        <meta itemprop=Country" content="CZ"/>
                    </div>
                </div>
            {% endif %}
            <div itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="{{ eventParticipant.event.organizer.name }}"/>
                <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg')) }}"/>
                <!--<link itemprop="image" href="https://www.seznamovakup.cz/img/web/og-image.jpg"/>-->
            </div>
        </div>
        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('homepage')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('homepage')) }}"/>

        {% block message_footer %}
            <p>
                Přihláška byla zrušena na základě požadavku na zrušení nebo z důvodu duplicitního odeslání přihlášky.
                Pokud js{{ f ? 'te' : 'i' }} nás o zrušení přihlášky na akci nežádal{{ a }}, tak nás, prosím, kontaktuj{{ f ? 'te' : '' }}.
            </p>
        {% endblock message_footer %}
    </div>
{% endblock %}




