{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Ověření přihlášky') }}{% endblock html_title %}
{% block meta_description %}{{ block('html_title') }}{% endblock meta_description %}

{% block content_inner %}
    <div itemscope itemtype="http://schema.org/EventReservation">
        <link itemprop="reservationStatus" href="http://schema.org/Pending"/>
        <meta itemprop="modifiedTime" content="{{ eventParticipant.lastRevisionDateTime|date('c') }}"/>
        <meta itemprop="bookingTime" content="{{ eventParticipant.createdDateTime|date("c") }}"/>
        <meta itemprop="ticketToken" content="qrCode:{{ eventParticipant.id }}"/>{# TODO #}
        <meta itemprop="ticketNumber" content="{{ eventParticipant.id }}"/>
        <meta itemprop="reservationNumber" content="{{ eventParticipant.id }}"/>
        <meta itemprop="numSeats" content="1"/>
        <span itemprop="totalPrice" content="{{ eventParticipant.price }}"></span>
        <span itemprop="priceCurrency" content="CZK"></span>
        <span itemprop="underName" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name" content="{{ eventParticipant.contact.contactName }}"></span>
            <span itemprop="email" content="{{ eventParticipant.contact.email }}"></span>
        </span>

        {% block message_message_outer %}
            <p itemprop="additionalTicketText">
                {% block message_message_inner %}
                    {% if isOrganization %}
                        Vaše organizace {{ eventParticipant.contact.contactName }} byl{{ a }}
                    {% else %}
                        Byl{{ a }} js{{ f ? 'te' : 'i' }}
                    {% endif %}
                    úspěšně přihlášen{{ a }} na&nbsp;akci {{ event.name }},
                    {% if eventParticipant.event.organizer is defined and eventParticipant.event.organizer.contact.contactName %}
                        kterou pořádá {{ eventParticipant.event.organizer.contact.contactName }}.
                    {% else %}
                        která se koná od {{ eventParticipant.event.startDateTime|date("j. n. Y") }}.
                    {% endif %}
                {% endblock message_message_inner %}
            </p>
        {% endblock message_message_outer %}

        {% if contactPerson.appUser.accountActivationRequestToken is defined and contactPerson.appUser.accountActivationRequestToken %}
            <p>
                Ještě je nutné <b>přihlášku dokončit kliknutím na následující odkaz</b> a potvrdit tím,
                že zadaná adresa patří {{ f ? 'Vám' : 'Tobě' }} a není v ní žádný překlep:
            </p>
            <p>
                <a href="{{ absolute_url(path(
                    'potvrzeni-prihlasky',
                    {'token': contactPerson.appUser.accountActivationRequestToken, 'eventParticipantId': eventParticipant.id})
                ) }}" itemprop="confirmReservationUrl" title="Odkaz pro potvrzení přihlášky a aktivaci účtu" target="_blank">
                    {{ absolute_url(path(
                        'potvrzeni-prihlasky',
                        {'token': contactPerson.appUser.accountActivationRequestToken, 'eventParticipantId': eventParticipant.id})
                    ) }}</a>
                <br>
                <small>Odkaz je platný 24 hodin od vygenerování.</small>
            </p>
        {% endif %}

        <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ConfirmAction">
            <meta itemprop="name" content="Potvrdit"/>
            <link itemprop="url" href="{{ absolute_url(path(
                'potvrzeni-prihlasky',
                {'token': contactPerson.appUser.accountActivationRequestToken, 'eventParticipantId': eventParticipant.id})
            ) }}"/>
            <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                <link itemprop="url"
                      href="{{ absolute_url(path(
                          'potvrzeni-prihlasky',
                          {'token': contactPerson.appUser.accountActivationRequestToken, 'eventParticipantId': eventParticipant.id})
                      ) }}"/>
            </div>
        </div>

        <div itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
            <meta itemprop="name" content="Potvrdit"/>
            <link itemprop="url"
                  href="{{ absolute_url(path(
                      'potvrzeni-prihlasky',
                      {'token': contactPerson.appUser.accountActivationRequestToken, 'eventParticipantId': eventParticipant.id})
                  ) }}"/>
            <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                <link itemprop="url"
                      href="{{ absolute_url(path(
                          'potvrzeni-prihlasky',
                          {'token': contactPerson.appUser.accountActivationRequestToken, 'eventParticipantId': eventParticipant.id})
                      ) }}"/>
            </div>
        </div>

        <p>
            Potvrzením registrace také souhlasíš se zpracováním {{ f ? 'Vašich' : 'Tvých' }} osobních údajů nutných pro zorganizování této akce.
            {% if eventParticipant.event.organizer is defined and eventParticipant.event.organizer.name %}
                Tyto údaje budou zpracovány subjektem {{ eventParticipant.event.organizer.name }}
                a informace o jejich zpracování nalezne{{ f ? 'te' : 'š' }} na
                <a href="{{ absolute_url(path('gdpr')) }}" target="_blank">našich webových stránkách</a>.
            {% endif %}
        </p>

        <p>Pro zrušení nebo změnu přihlášky nás kontaktuj{{ f ? 'te' : '' }} odpovědí na tuto zprávu.</p>

        <div itemprop="reservationFor" itemscope itemtype="http://schema.org/Event">
            <meta itemprop="name" content="{{ event.name }}"/>
            <link itemprop="url" href="{{ absolute_url(path('homepage')) }}"/>
            <meta itemprop="startDate" content="{{ event.startDate|date("c") }}"/>
            <meta itemprop="endDate" content="{{ event.endDate|date("c") }}"/>
            {% if event.location is defined and event.location %}
                <div itemprop="event.location" itemscope itemtype="http://schema.org/Place">
                    {% if event.location.name is defined and event.location.name %}
                        <meta itemprop="name" content="{{ event.location.name }}"/>
                    {% endif %}
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        {% if event.location.name is defined and event.location.name %}
                            <meta itemprop="name" content="{{ event.location.name }}"/>
                        {% endif %}
                        {% if event.location.streetAddress is defined and event.location.streetAddress %}
                            <meta itemprop="streetAddress" content="{{ event.location.streetAddress }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressLocality" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.postalCode is defined and event.location.postalCode %}
                            <meta itemprop="postalCode" content="{{ event.location.postalCode }}"/>
                        {% endif %}
                        {% if event.location.city is defined and event.location.city %}
                            <meta itemprop="addressRegion" content="{{ event.location.city }}"/>
                        {% endif %}
                        {% if event.location.url is defined and event.location.url %}
                            <meta itemprop="url" href="{{ event.location.url }}" content="{{ event.location.url }}"/>
                        {% endif %}
                        <meta itemprop=Country" content="CZ"/>
                    </div>
                </div>
            {% endif %}
            <div itemprop="performer" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="{{ event.organizer.name }}"/>
                <link itemprop="image" href="{{ absolute_url(asset('img/web/og-image.jpg')) }}"/>
                <!--<link itemprop="image" href="https://www.seznamovakup.cz/img/web/og-image.jpg"/>-->
            </div>
        </div>
        <link itemprop="modifyReservationUrl" href="{{ absolute_url(path('homepage')) }}"/>
        <link itemprop="cancelReservationUrl" href="{{ absolute_url(path('homepage')) }}"/>
    </div>
{% endblock content_inner %}

